<template>
    <div role="tabpanel" class="tab-pane active" id="addContact">
        <form id="contact-form" class="form-horizontal" @submit="checkForm" method="POST">
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <autocomplete-contact @added="setContactId" id="contact_id"></autocomplete-contact>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <input type="text" id="street_address" name="street_address" v-model="address.street_address" required="required" placeholder="Street Address" class="form-control col-md-7 col-xs-12">
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <input type="text" id="suite_no" name="suite_no" v-model="address.suite_no" placeholder="Suite #" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" id="city" name="city" v-model="address.city" required="required" placeholder="City" class="form-control">
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" id="state" name="state" v-model="address.state" required="required" placeholder="State" class="form-control">
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" id="zip" name="zip" v-model="address.zip" required="required" placeholder="Zip" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea id="notes" name="notes" v-model="address.notes" placeholder="Notes" class="form-control"></textarea>
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" id="addNewAddress" class="btn btn-success">Add new address</button>
                </div>
            </div>
        </form>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                address: {
                    street_address: '',
                    city: '',
                    state: '',
                    zip: '',
                    contact_id: '',
                },
            }
        },

        created() {
            this.$eventHub.$on('contact-created', this.setContactId);
            this.$eventHub.$on('address-not-found', this.setStreetAddress);
        },

        beforeDestroy() {
            this.$eventHub.$off('contact-created');
            this.$eventHub.$off('address-not-found');
        },

        methods: {
            checkForm: function(e) {
                e.preventDefault();

                if (this.address.street_address && this.address.city && this.address.state && this.address.zip && this.address.contact_id) {
                    this.createAddress();
                }
            },

            createAddress() {
                axios.post('/addresses', this.address)
                    .then(response => {

                        this.$eventHub.$emit('address-created', response.data);

                        flash('A new address has been created!');

                        if(window.location.pathname == '/addresses') {
                            window.location = response.data.path;
                        }

                        $('#widget-modal').modal('hide');
                    }).catch(error => {
                        errors(error.response.data.errors);
                    });
            },

            setContactId(id) {
                this.address.contact_id = id;
            },

            setStreetAddress(query) {
                this.address.street_address = query;
            }
        }
    }
</script>
