<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="address"
            message="Are you sure you want to delete this address?">
        </confirmation-modal>

        <table id="addresses-datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Contact Name</th>
                    <th>Street Address</th>
                    <th>Suite #</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(address, index) in addresses" :key="index">
                    <td data-title="Action">
                        <a :href="address.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View address"></i></a>
                        <a v-can="'update_addresses'" :href="address.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit address"></i></a>
                        <a v-can="'delete_addresses'" data-toggle="modal" data-target="#address" @click="pendingDelete(address, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete address"></i></a>
                        <a :href="'/agreements/create?address=' + address.id" ><i class="fas fa-file-signature" data-toggle="tooltip" data-placement="bottom" title="Generate agreement"></i></a>
                    </td>
                    <td><a :href="address.contact.path + '/edit'" v-text="address.contact.fullName"></a></td>
                    <td v-text="address.street_address"></td>
                    <td v-text="address.suite_no"></td>
                    <td v-text="address.city"></td>
                    <td v-text="address.state"></td>
                    <td v-text="address.zip"></td>
                    <td v-text="moment(address.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    $(document).ready(function() {
        $('#addresses-datatable-responsive').DataTable().draw().responsive.recalc();
    });

    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialAddresses'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                addresses: this.initialAddresses,
                address: '',
                index: '',
            }
        },

        created() {
            this.$eventHub.$on('address-created', this.addNewAddress);
        },

        beforeDestroy() {
            this.$eventHub.$off('address-created');
        },

        methods: {
            destroy(address, index) {
                if(this.isConfirmed) {
                    axios.delete(address.path, address.id)
                        .then(response => {
                            this.addresses.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.address, this.index);
            },

            pendingDelete(address, index) {
                this.address = address;
                this.index = index;

                this.$forceUpdate();
            },

            addNewAddress(address) {
                this.addresses.push(address);
            }
        }
    }
</script>
