<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="agreement"
            message="Are you sure you want to delete this agreement?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Action</th>
                <th>Job Site</th>
                <th>Company name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Agreement Type</th>
                <th>Agreement Date</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(agreement, index) in agreements" :key="index">
                <td>
                    <a v-if="agreement.isSigned" :href="agreement.path + '/download'">
                        <i class="fas fa-file-download" data-toggle="tooltip" data-placement="bottom" title="Download agreement"></i>
                    </a>

                    <span v-else>
                        <a :href="agreement.path + '/sign/' + agreement.status.hash">
                            <i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View agreement"></i>
                        </a>
                        <a data-target="#emailModal" data-toggle="modal">
                            <i class="fa fa-envelope" @click="setAgreement(agreement)" data-toggle="tooltip" data-placement="bottom" title="Resend agreement link"></i>
                        </a>
                    </span>

                    <a v-can="'delete_contracts'" data-toggle="modal" data-target="#agreement" @click="pendingDelete(agreement, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete agreement"></i></a>
                </td>
                <td v-text="JSON.parse(agreement.options).street_address"></td>
                <td v-text="JSON.parse(agreement.options).client_company_name"></td>
                <td v-text="JSON.parse(agreement.options).first_name"></td>
                <td v-text="JSON.parse(agreement.options).last_name"></td>
                <td v-text="JSON.parse(agreement.options).agreement_type"></td>
                <td v-text="moment(agreement.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY')"></td>
            </tr>
            </tbody>
        </table>

        <email-agreement-modal :agreement-data="this.agreement"></email-agreement-modal>
    </div>
</template>

<script>
    import moment from 'moment';
    import EmailAgreementModal from './EmailAgreementModal.vue';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialAgreements'],
        components: { EmailAgreementModal, ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                agreements: this.initialAgreements,
                agreement: '',
                index: '',
            }
        },

        methods: {
            destroy(agreement, index) {
                if(this.isConfirmed) {
                    axios.delete(agreement.path, agreement.id)
                        .then(response => {
                            this.agreements.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.agreement, this.index);
            },

            pendingDelete(agreement, index) {
                this.agreement = agreement;
                this.index = index;

                this.$forceUpdate();
            },

            setAgreement(agreement) {
                this.agreement = agreement;
            },
        }
    }
</script>
