<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="appointment"
            message="Are you sure you want to delete this appointment?">
        </confirmation-modal>

        <calendar-invite-modal></calendar-invite-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Address</th>
                    <th>Assigned to</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Urgency</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(appointment, index) in appointments" :key="index">
                    <td data-title="Action">
                        <a :href="appointment.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View appointment"></i></a>
                        <a v-if="appointment.date" data-toggle="modal" data-target="#calendar-invite-modal" @click="sendCalendarInvite(appointment)"><i class="far fa-calendar-check" data-toggle="tooltip" data-placement="bottom" title="Send calendar invite"></i></a>
                        <a v-can="'update_appointments'" :href="appointment.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit appointment"></i></a>
                        <a v-can="'delete_appointments'" data-toggle="modal" data-target="#appointment" @click="pendingDelete(appointment, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete appointment"></i></a>
                    </td>
                    <td>{{ appointment.address.street_address }}<span v-if="appointment.address.suite_no">, Suite {{ appointment.address.suite_no}}</span></td>
                    <td v-text="appointment.user.name"></td>
                    <td v-text="appointment.status"></td>
                    <td v-text="appointment.type"></td>
                    <td v-text="appointment.urgency"></td>
                    <td v-text="moment(appointment.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';
    import CalendarInviteModal from './CalendarInviteModal.vue';

    export default {
        props: ['initialAppointments'],

        components: { ConfirmationModal, CalendarInviteModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                appointments: this.initialAppointments,
                appointment: '',
                index: '',
            }
        },

        methods: {
            destroy(appointment, index) {
                if(this.isConfirmed) {
                    axios.delete(appointment.path, appointment.id)
                        .then(response => {
                            this.appointments.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.appointment, this.index);
            },

            pendingDelete(appointment, index) {
                this.appointment = appointment;
                this.index = index;

                this.$forceUpdate();
            },

            sendCalendarInvite(appointment){
                this.$eventHub.$emit('send-calendar-invite', appointment);
                this.$forceUpdate();
            },
        }
    }
</script>
