<template>
    <div id="assign-to-user-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assing to user</h4>
                </div>
                <div class="modal-body">
                    <p v-if="lead.assignees.length > 0">
                        Assigned users: <a :href="assignee.path" class="label label-primary mr-1" v-for="assignee in lead.assignees">{{ assignee.name }}</a>
                    </p>

                    <autocomplete-user @added="setUserId"></autocomplete-user>

                    <button v-if="userId" class="btn btn-md btn-success" @click.prevent="assign">Assign</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AutocompleteUser from './AutocompleteUser.vue';

    export default {
        components: { AutocompleteUser },

        data() {
            return {
                lead: {},
                userId: '',
            }
        },

        created() {
            this.$eventHub.$on('assign-to-user', (lead) => {
                this.lead = lead;
            });
        },

        methods: {
            setUserId(id) {
                this.userId = id;
            },

            assign() {
                axios.post(this.lead.path + '/assign/' + this.userId)
                    .then(response => {
                        $('#assign-to-user-modal').modal('hide');
                        flash(response.data.message);

                        setTimeout(() => {
                            window.location = response.data.redirect;
                        }, 1000);
                    });
            }
        },
    }
</script>
