<template>
    <div>
        <div class="form-group">
            <label for="folders">Choose the folder and then check the files you want to attach to this email:</label>
            <select class="form-control" id="folders" @change="getFilesNames($event)">
                <option v-for="folder in folders" v-model="folders">{{ folder }}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="checkbox" v-for="file in files">
                <label class="form-check-label" :for="file.name">
                    <input type="checkbox" :value="file.path" :id="file.name" v-model="checkedFiles" @change="attach" class="form-check-input flat">
                    {{ file.name }}
                </label>
            </div>
        </div>

        <ul>
            <li v-for="(file, index) in checkedFiles">
                {{ file }} <i class="fa fa-trash" @click="remove(file, index)"></i>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                files: [],
                folders: [],
                checkedFiles: [],
            }
        },

        created() {
            this.getFolders();
        },

        methods: {
            attach() {
                this.$emit('attached', this.checkedFiles)
            },

            remove(file, index) {
                this.checkedFiles.splice(index, 1);
            },

            getFolders() {
                axios.post('/shared/directories').then(response => {
                    this.folders = response.data;
                });
            },

            getFilesNames(event) {
                let path = event.target.value;

                axios.post('/shared/files', { directory: path })
                    .then(response => {
                        this.files = response.data;
                    });
            }
        },
    }
</script>
