<template>
    <div>
        <div class="input-group">
            <input type="text" :value="getNames()" class="form-control col-md-7 col-xs-12" aria-describedby="addon" disabled>

            <span class="input-group-addon" id="addon">
                <i class="fas fa-times" v-if="users.length" @click="clearNames"></i>
                <i class="fas fa-user" v-else></i>
            </span>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Search using the user name..." v-model="query" v-on:keyup="autoComplete" class="form-control">
        </div>

        <ul class="list-group" v-if="results.length">
            <li class="list-group-item" v-for="result in results" @click="add(result)">
                {{ result.name }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['initialUser'],

        data() {
            return {
                query: '',
                results: [],
                users: [],
            }
        },

        created() {
            if(this.initialUser) {
                this.users.push({
                    id: this.initialUser.id,
                    name: this.initialUser.name
                });
            }

            this.$eventHub.$on('user-message-sent', this.setUsers);
            this.$eventHub.$on('message-sent', this.clearNames);
            this.$eventHub.$on('set-user', this.setUsers);
        },

        beforeDestroy() {
            this.$eventHub.$off('user-message-sent');
            this.$eventHub.$off('message-sent');
            this.$eventHub.$off('set-user');
        },

        methods: {
            autoComplete() {
                this.results = [];
                if(this.query.length > 2 && this.query.length < 15){
                    axios.get('/users/search/' + this.query).then(response => {
                        let searchResults = response.data;

                        for(var i=0; i<this.users.length; i++) {
                            for(var j=0; j<searchResults.length; j++) {
                                if(this.users[i].id == searchResults[j].id) {
                                    searchResults.splice(j, 1);
                                }
                            }
                        }

                        this.results = searchResults;
                    });
                }
            },

            add(result) {
                this.users.push({
                    id: result.id,
                    name: result.name
                });

                this.$emit('added', this.users);

                this.query = '';
                this.results = [];
            },

            getNames() {
                let users = '';

                for (var i = 0; i < this.users.length; i++) {
                    users += this.users[i].name + ', ';
                }

                return users;
            },

            setUsers(data) {
                this.users = [];
                this.users.push(data);

                this.query = '';
                this.getNames();

                this.$emit('added', this.users);
            },

            clearNames() {
                this.users = [];

                this.$emit('removed');
            }
        }
    }
</script>
