<template>
    <div>
        <div class="input-group" v-if="searching">
            <input type="text" v-if="searching" placeholder="Search by address or contact name..." v-model="query" v-on:keyup="autoComplete" class="form-control" required="required">
            <span class="btn btn-default input-group-addon" id="addon" data-toggle="modal" data-target="#widget-modal" @click="addressNotFound(query)"><i class="fas fa-plus"></i></span>
        </div>

        <div class="input-group" v-else="searching">
            <input type="text" :value="this.street + ' - ' + this.fullName" class="form-control col-md-7 col-xs-12" aria-describedby="addon" disabled>
            <span class="input-group-addon" id="addon"><i class="fas fa-times" @click="toggle"></i></span>
        </div>

        <input type="hidden" :value="this.id" id="address_id" name="address_id" required="required">
        <input type="hidden" :value="this.contactId" id="contact_id" name="contact_id">

        <ul class="list-group" v-if="results.length">
            <li class="list-group-item" v-for="result in results" @click="add(result)">
                {{ result.street_address }}<span v-if="result.suite_no">, Suite {{ result.suite_no }}</span> - {{ result.contact.fullName }}
            </li>
        </ul>

        <widget-modal></widget-modal>
    </div>
</template>

<script>
    export default {
        props: ['initialAddress'],

        data() {
            return {
                searching: true,
                query: '',
                results: [],
                id: '',
                contactId: '',
                fullName: '',
                street: '',
            }
        },

        created() {
            if(this.initialAddress) {
                this.id = this.initialAddress.id;
                this.contactId = this.initialAddress.contact.id;
                this.searching = false;
                this.fullName = this.initialAddress.contact.fullName;
                this.street = this.initialAddress.street_address + (this.initialAddress.suite_no ? ', Suite ' + this.initialAddress.suite_no : '');
            }

            this.$eventHub.$on('address-created', this.getCreatedAddress);
        },

        beforeDestroy() {
            this.$eventHub.$off('address-created');
        },

        methods: {
            autoComplete() {
                this.results = [];

                if(this.query.length > 2) {
                    this.fetch();
                }
            },

            getCreatedAddress(address) {
                this.searching = false;
                this.id = address.id;
                this.contactId = address.contact.id;
                this.street = address.street_address;
                this.fullName = address.contact.fullName;

                this.$eventHub.$emit('address-changed', this.id);
            },

            fetch() {
                axios.get('/addresses/search/' + this.query).then(response => {
                    this.results = response.data;
                });
            },

            add(result) {
                this.id = result.id;
                this.contactId = result.contact_id;
                this.fullName = result.contact.fullName;
                this.street = result.street_address;

                this.results = [];
                this.searching = false;

                this.$eventHub.$emit('address-changed', this.id);
            },

            toggle() {
                this.searching = !this.searching;
            },

            addressNotFound(query) {
                this.$eventHub.$emit('address-not-found', query);
            }
        }
    }
</script>
