<template>
    <div>
        <input type="text" v-if="searching" placeholder="Search using the contact name..." v-model="query" v-on:keyup="autoComplete" class="form-control">
        <div class="input-group" v-else="searching">
            <input type="text" :value="this.fullName" class="form-control col-md-7 col-xs-12" aria-describedby="addon" disabled>
            <span class="input-group-addon" id="addon"><i class="fas fa-times" @click="toggle"></i></span>
        </div>

        <input type="hidden" :value="this.id" id="contact_id" name="contact_id" required="required" class="form-control col-md-7 col-xs-12">

        <ul class="list-group" v-if="results.length">
            <li class="list-group-item" v-for="result in results" @click="add(result)">
                {{ result.fullName }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                searching: true,
                query: '',
                results: [],
                id: '',
                fullName: ''
            }
        },

        created() {
            this.$eventHub.$on('contact-created', this.setContactId);
            this.$eventHub.$on('updating-address', this.fillContactDetails);
        },

        beforeDestroy() {
            this.$eventHub.$off('contact-created');
            this.$eventHub.$off('updating-address');
        },

        methods: {
            fillContactDetails(address) {
                this.searching = false;

                this.fullName = address.contact.fullName;
                this.id = address.contact.id;
            },

            autoComplete() {
                this.results = [];
                if(this.query.length > 2){
                    axios.get('/contacts/search/' + this.query).then(response => {
                        this.results = response.data;
                    });
                }
            },

            add(result) {
                this.id = result.id;
                this.fullName = result.fullName;

                this.$emit('added', this.id);

                this.results = [];
                this.searching = false;
            },

            toggle() {
                this.searching = !this.searching;
            },

            setContactId(data) {
                this.searching = false;

                this.id = data.id;
                this.fullName = data.fullName;

                this.$emit('added', data.id);
            },
        }
    }
</script>
