<template>
    <div>
        <input type="text" v-if="searching" placeholder="Search using the user name..." v-model="query" v-on:keyup="autoComplete" class="form-control" required="required">
        <div class="input-group" v-else="searching">
            <input type="text" :value="this.name" class="form-control col-md-7 col-xs-12" aria-describedby="addon" disabled>
            <span class="input-group-addon" id="addon"><i class="fas fa-times" @click="toggle"></i></span>
        </div>

        <input type="hidden" :value="this.id" id="user_id" name="user_id" required="required" class="form-control col-md-7 col-xs-12">

        <ul class="list-group" v-if="results.length">
            <li class="list-group-item" v-for="result in results" @click="add(result)">
                {{ result.name }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['initialUser'],

        data() {
            return {
                searching: true,
                query: '',
                results: [],
                id: '',
                name: ''
            }
        },
        created() {
            if(this.initialUser) {
                this.searching = false;

                this.id = this.initialUser.id;
                this.name = this.initialUser.name;
            }
        },

        methods: {
            autoComplete() {
                this.results = [];
                if(this.query.length > 2){
                    axios.get('/users/search/' + this.query).then(response => {
                        this.results = response.data;
                    });
                }
            },

            add(result) {
                this.id = result.id;
                this.name = result.name;

                this.$emit('added', this.id);

                this.results = [];
                this.searching = false;
            },

            toggle() {
                this.searching = !this.searching;
            },
        }
    }
</script>
