<template>
    <div>
        <vue-tags-input
            v-model="tag"
            :tags="tags"
            :autocomplete-items="filteredItems"
            @tags-changed="add"
            :add-on-blur="true"
            :add-on-key="[13, ',', ':', ';']"
        />

        <input type="hidden" name="tags" :value="this.tagsAsString">
    </div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';

    export default {
        props: ['initialTags'],

        components: {
            VueTagsInput,
        },

        data() {
            return {
                tag: '',
                tags: [],
                autocompleteItems: [],
                debounce: null,
                leadTags: this.initialTags,
            };
        },

        created() {
            this.getAllTags();
            this.setInitialTags();
        },

        computed: {
            tagsAsString() {
                return this.tags.map(tag => tag.text);
            },

            filteredItems() {
                return this.autocompleteItems.filter(i => {
                    return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                });
            },
        },

        methods: {
            add(newTags) {
                this.tags = newTags;
            },

            getAllTags() {
                const url = '/api/tags/get-all';

                clearTimeout(this.debounce);

                this.debounce = setTimeout(() => {
                    axios.get(url).then(response => {
                        this.autocompleteItems = response.data.tags.map(tag => {
                            return { text: tag.name };
                        });
                    }).catch(() => console.warn('Something went wrong'));
                }, 600);
            },

            setInitialTags() {
                this.leadTags.map(tag => {
                    this.tags.push({ text: tag.name.en });
                });
            }
        },
    };
</script>

<style lang="css">
    /* style the background and the text color of the input ... */
    .vue-tags-input {
        background: #324652;
    }

    .vue-tags-input .ti-new-tag-input {
        background: transparent;
        color: #b7c4c9;
    }

    .vue-tags-input .ti-input {
        padding: 4px 10px;
        transition: border-bottom 200ms ease;
    }

    /* some styling for the autocomplete layer */
    .vue-tags-input .ti-autocomplete {
        background: #ccc;
        border: 1px solid #8b9396;
        border-top: none;
    }

    /* the selected item in the autocomplete layer, should be highlighted */
    .vue-tags-input .ti-item.ti-selected-item {
        background: #1ABB9C;
        color: #fff;
    }

    /* style the placeholders color across all browser */
    .vue-tags-input ::-webkit-input-placeholder {
        color: #a4b1b6;
    }

    .vue-tags-input ::-moz-placeholder {
        color: #a4b1b6;
    }

    .vue-tags-input :-ms-input-placeholder {
        color: #a4b1b6;
    }

    .vue-tags-input :-moz-placeholder {
        color: #a4b1b6;
    }

    /* default styles for all the tags */
    .vue-tags-input .ti-tag {
        position: relative;
        background: #1ABB9C;
        color: #fff;
    }

    /* we defined a custom css class in the data model, now we are using it to style the tag */
    .vue-tags-input .ti-tag.custom-class {
        background: transparent;
        border: 1px solid #ebde6e;
        color: #ebde6e;
        margin-right: 4px;
        border-radius: 0px;
        font-size: 13px;
    }

    /* the styles if a tag is invalid */
    .vue-tags-input .ti-tag.ti-invalid {
        background-color: #e88a74;
    }

    /* if the user input is invalid, the input color should be red */
    .vue-tags-input .ti-new-tag-input.ti-invalid {
        color: #e88a74;
    }

    /* if a tag or the user input is a duplicate, it should be crossed out */
    .vue-tags-input .ti-duplicate span,
    .vue-tags-input .ti-new-tag-input.ti-duplicate {
        text-decoration: line-through;
    }
</style>
