<template>
    <div id="calendar-invite-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Calendar Invite</h4>
                </div>
                <div class="modal-body">
                    <h2>Appointment details</h2>
                    <p>{{ appointment.type }} Appointment</p>
                    <p><strong>Address:</strong> {{ contact.fullName }}, {{ address.fullAddress }}</p>
                    <p><strong>Date & time:</strong> {{ moment(appointment.date, 'YYYY-MM-DD').format('MM-DD-YYYY') }} at {{ moment(appointment.time, 'HH:mm:ss').format('h:mm a') }}</p>

                    <button type="button" class="btn btn-primary" v-on:click="sendCalendarInvite(appointment)">Send <i v-if="loadingSpinner" class="fa fa-spin fa-spinner"></i></button>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        props: ['initialAppointment'],
        data() {
            return {
                address: {},
                appointment: {},
                contact: {},
                loadingSpinner: false,
                moment: moment,
            }
        },

        created() {
            if(this.initialAppointment) {
                this.address = this.initialAppointment.address;
                this.appointment = this.initialAppointment;
                this.contact = this.initialAppointment.address.contact;
            }

            this.$eventHub.$on('send-calendar-invite', (appointment) => {
                this.appointment = appointment;
                this.address = appointment.address;
                this.contact = appointment.address.contact;
            });
        },

        methods: {
            sendCalendarInvite(appointment) {
                let that = this;
                this.loading();
                axios.post(appointment.path + '/calendar-invite')
                .then(function(response) {
                    that.loading();
                    $('#calendar-invite-modal').modal('hide');
                    
                    flash(response.data.message);
                }).catch(function(error) {
                    console.log(error);
                });
            },

            loading() {
                this.loadingSpinner = !this.loadingSpinner;
            },
        },
    }
</script>
