<template>
    <div :id="model ? model : 'confirm'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>

                <div class="modal-body">
                    {{ message }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-right" data-dismiss="modal" @click="confirm">Yes, I am sure!</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['message', 'model'],

        methods: {
            confirm() {
                this.$emit('confirmed');
            }
        }
    }
</script>
