<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="contract"
            message="Are you sure you want to delete this agreement?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Action</th>
                <th>Job Site</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Agreement Type</th>
                <th>Agreement Date</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(contract, index) in contracts" :key="index">
                <td>
                    <a v-if="contract.isSigned" :href="contract.path + '/download'">
                        <i class="fas fa-file-download" data-toggle="tooltip" data-placement="bottom" title="Download agreement"></i>
                    </a>

                    <span v-else>
                        <a :href="contract.path + '/sign/' + contract.status.hash">
                            <i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View agreement"></i>
                        </a>
                        <a data-target="#emailModal" data-toggle="modal">
                            <i class="fa fa-envelope" @click="setContract(contract)" data-toggle="tooltip" data-placement="bottom" title="Resend agreement link"></i>
                        </a>
                    </span>

                    <a v-can="'delete_contracts'" data-toggle="modal" data-target="#contract" @click="pendingDelete(contract, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete agreement"></i></a>
                </td>
                <td v-text="contract.street_address"></td>
                <td v-text="contract.first_name"></td>
                <td v-text="contract.last_name"></td>
                <td v-text="contract.contract_type"></td>
                <td v-text="moment(contract.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY')"></td>
            </tr>
            </tbody>
        </table>

        <email-contract-modal :contract-data="this.contract"></email-contract-modal>
    </div>
</template>

<script>
    import moment from 'moment';
    import EmailContractModal from './EmailContractModal.vue';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialContracts'],
        components: { EmailContractModal, ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                contracts: this.initialContracts,
                contract: '',
                index: '',
            }
        },

        methods: {
            destroy(contract, index) {
                if(this.isConfirmed) {
                    axios.delete(contract.path, contract.id)
                        .then(response => {
                            this.contracts.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.contract, this.index);
            },

            pendingDelete(contract, index) {
                this.contract = contract;
                this.index = index;

                this.$forceUpdate();
            },

            setContract(contract) {
                this.contract = contract;
            },
        }
    }
</script>
