<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="contact"
            message="Are you sure you want to delete this contact and all its associated addresses?">
        </confirmation-modal>

        <table id="contacts-datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail Address</th>
                    <th>Phone Number</th>
                    <th>Company</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(contact, index) in contacts">
                    <td data-title="Action">
                        <a :href="contact.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View contact"></i></a>
                        <a v-can="'update_contacts'" :href="contact.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit contact"></i></a>
                        <a v-can="'delete_contacts'" data-toggle="modal" data-target="#contact" @click="pendingDelete(contact, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete contact"></i></a>
                        <a data-toggle="modal" data-target="#selectAddress" @click="getAddresses(contact)"><i class="fas fa-file-signature" data-toggle="tooltip" data-placement="bottom" title="Generate agreement"></i></a>
                    </td>
                    <td v-text="contact.first_name"></td>
                    <td v-text="contact.last_name"></td>
                    <td><a :href="'mailto:' + contact.email">{{ contact.email }}</a></td>
                    <td><a :href="'tel:' + contact.phoneNumber">{{ contact.phone }}</a></td>
                    <td v-text="contact.company"></td>
                    <td v-text="moment(contact.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>

        <div id="selectAddress" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Generate agreement</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="emailTo">Select the associated address:</label>
                            <select id="type" name="selected" class="form-control" v-model="selected" placeholder="here">
                                <option disabled>Choose</option>
                                <option v-for="address in addresses" :value="address.id">{{ address.fullAddress }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a :href="'/agreements/create?address=' + selected" type="button" class="btn btn-success pull-right" v-show="selected">Generate agreement</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    $(document).ready(function() {
        $('#contacts-datatable-responsive').DataTable().draw().responsive.recalc();
    });

    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialContacts'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                contacts: this.initialContacts,
                contact: '',
                index: '',
                addresses: '',
                selected: '',
            }
        },

        methods: {
            destroy(contact, index) {
                if(this.isConfirmed) {
                    axios.delete(contact.path, contact.id)
                        .then(response => {
                            this.contacts.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.contact, this.index);
            },

            pendingDelete(contact, index) {
                this.contact = contact;
                this.index = index;

                this.$forceUpdate();
            },

            getAddresses(contact) {
                this.selected = '';

                this.contact = contact;
                this.addresses = contact.addresses;
            }
        }
    }
</script>
