<template>
    <div role="tabpanel" class="tab-pane" id="createContact">
        <form id="contact-form" data-parsley-validate class="form-horizontal form-label-left" method="POST" @submit="checkForm">
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" id="first_name" name="first_name" v-model="contact.first_name" required="required" placeholder="First Name" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" id="last_name" name="last_name" v-model="contact.last_name" required="required" placeholder="Last Name" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" id="email" name="email" v-model="contact.email" placeholder="E-mail Address" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="tel" id="phone" name="phone" v-model="contact.phone" v-mask="{mask: '(999) 999-9999 [ext:99999]', greedy: true}" placeholder="Phone number" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" id="company" name="company" v-model="contact.company" placeholder="Company" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea id="notes" name="notes" v-model="contact.notes" placeholder="Notes" class="form-control"></textarea>
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Create new contact</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                contact: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    company: '',
                    notes: '',
                },
            }
        },

        methods: {
            checkForm: function(e) {
                e.preventDefault();

                if (this.contact.first_name && this.contact.last_name) {
                    this.createContact();
                }
            },

            createContact() {
                axios.post('/contacts', this.contact).then(response => {

                    this.$eventHub.$emit('contact-created', response.data);
                    flash('A new contact has been created!');

                    $('.nav-tabs a[href="#addContact"]').tab('show');
                }).catch(error => {
                    errors(error.response.data.errors);
                });
            },
        }
    }
</script>
