<template>
    <div>
        <button class="btn btn-danger" data-toggle="modal" data-target="#confirm" @click.prevent>Delete</button>

        <confirmation-modal :message="message" @confirmed="confirmed"></confirmation-modal>
    </div>
</template>

<script>
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['data', 'message'],

        components: { ConfirmationModal },

        data() {
            return {
                id: this.data.id,
                path: this.data.path,
                isConfirmed: false,
            }
        },

        methods: {
            destroy() {
                if(this.isConfirmed) {
                    axios.delete(this.path, this.id)
                        .then(response => {
                            flash(response.data.message);

                            window.location = response.data.redirect;
                        });
                }
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy();
            }
        }
    }
</script>
