<template>
    <div id="emailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="emailTo">Email to:</label>
                            <input type="email" class="form-control" id="emailTo" v-model="emails">
                        </div>

                        <div class="form-group">
                            <label for="emailTo">Estimate type:</label>
                            <select id="type" name="type" class="form-control" v-model="type">
                                <option disabled>Choose type</option>
                                <option value="summary" selected>Summary</option>
                                <option value="detailed">Detailed</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="emailBody">Email body:</label>
                            <textarea class="form-control" id="emailBody" rows="7" v-model="emailBody"></textarea>
                        </div>

                        <attach-files @attached="setFilesNames"></attach-files>

                        <button type="button" class="btn btn-primary" v-on:click="sendEmail">Send <i v-if="loadingSpinner" class="fa fa-spin fa-spinner"></i></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AttachFiles from './AttachFilesFromStorage.vue';

    export default {
        components: { AttachFiles },

        data() {
            return {
                app_name: process.env.MIX_APP_NAME,
                contact: {},
                estimate: {},
                emailBody: '',
                emailsParsed: [],
                emails: '',
                type: 'summary',
                loadingSpinner: false,
                filesNames: [],
            }
        },

        methods: {
            sendEmail() {
                let that = this;
                this.loading();
                this.emailsParsed = this.emails.split(',');
                axios.post('/estimates/email', {
                    emailBody: this.emailBody,
                    estimateId: this.estimate.id,
                    emails: this.emailsParsed,
                    type: this.type,
                    filesNames: this.filesNames,
                }).then(function () {
                    that.loading();
                    $('#emailModal').modal('hide');
                }).catch(function (error) {
                    console.log(error);
                });
            },

            loading() {
                this.loadingSpinner = !this.loadingSpinner;
            },

            setFilesNames(data) {
                this.filesNames = data;
            }
        },

        created() {
            this.$eventHub.$on('emailModalToggle', (estimate) => {
                this.contact = estimate.address.contact;
                this.estimate = estimate;
                this.emailBody = 'Hello ' + this.contact.first_name + ',\n' +
                    '\nThank you for your interest in our services.\n' +
                    'Please find your estimate attached.\n' +
                    '\n' +
                    'Sincerely, \n' +
                    'The team at ' + this.app_name;
                this.emails = this.contact.email;
            });
        }
    }
</script>
