<template>
    <div id="emailModal" class="modal fade" role="dialog" ref="vuemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send agreement by e-mail</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="emailTo">Email to:</label>
                            <input type="email" class="form-control" id="emailTo" v-model="emails">
                        </div>

                        <div class="form-group">
                            <label for="emailBody">Email body:</label>
                            <textarea class="form-control" id="emailBody" rows="7" v-model="emailBody"></textarea>
                        </div>

                        <attach-files @attached="setFilesNames"></attach-files>

                        <button type="button" class="btn btn-primary" v-on:click="sendEmail">Send <i v-if="loadingSpinner" class="fa fa-spin fa-spinner"></i></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AttachFiles from './AttachFilesFromStorage.vue';

    export default {
        props: ['contractData'],
        components: { AttachFiles },

        data() {
            return {
                appName: process.env.MIX_APP_NAME,
                emailBody: '',
                emailsParsed: [],
                emails: '',
                loadingSpinner: false,
                filesNames: [],
            }
        },

        computed: {
            url() {
                if(!this.contractData.id) {
                    return '/contracts/sign/email';
                }

                return '/contracts/resend';
            },
        },

        mounted(){
            $(this.$refs.vuemodal).on("shown.bs.modal", this.setEmails);
            $(this.$refs.vuemodal).on("shown.bs.modal", this.setEmailBody);
        },

        methods: {
            sendEmail() {
                let that = this;
                this.loading();
                this.emailsParsed = this.emails.split(',');
                axios.post(this.url, {
                    emailBody: this.emailBody,
                    emails: this.emailsParsed,
                    filesNames: this.filesNames,
                    ...(this.contractData.id ? { contract: this.contractData } : {}),
                }).then(response => {
                    that.loading();
                    $('#emailModal').modal('hide');

                    if(response.data.redirect) {
                        window.location = response.data.redirect;
                    }

                    flash(response.data.message);
                }).catch(function (error) {
                    console.log(error);
                });
            },

            loading(){
                this.loadingSpinner = !this.loadingSpinner;
            },

            setFilesNames(data) {
                this.filesNames = data;
            },

            setEmails() {
                return this.emails = this.contractData.email;
            },

            setEmailBody() {
                this.emailBody = 'Dear ' + this.contractData.first_name + ',\n\nPlease find attached a secure link where you can read and sign the agreement for Miami Gas Services for your records.\n\nFeel free to contact us if you have any questions or concerns.';
            }
        },
    }
</script>
