<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="log"
            message="Are you sure you want to delete this email log?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Employee Name</th>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Attachments</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(log, index) in logs">
                    <td>
                        <a data-toggle="modal" data-target="#log" @click="pendingDelete(log, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete email log"></i></a>
                    </td>
                    <td v-if="log.user">{{ log.user.name }}</td>
                    <td v-else="log.user">System</td>
                    <td><a :href="'mailto:' + log.to">{{ log.to }}</a></td>
                    <td v-text="log.subject"></td>
                    <td>
                        <p v-for="attachment in JSON.parse(log.attachments)">{{ attachment }}</p>
                    </td>
                    <td v-text="moment(log.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialLogs'],
        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                logs: this.initialLogs,
                isConfirmed: false,
                log: '',
                index: '',
            }
        },

        methods: {
            destroy(log, index) {
                if(this.isConfirmed) {
                    axios.delete('logs/'+log.id, log.id)
                        .then(response => {
                            this.logs.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.log, this.index);
            },

            pendingDelete(log, index) {
                this.log = log;
                this.index = index;

                this.$forceUpdate();
            }
        }
    }
</script>
