<template>
    <div class="alert alert-danger alert-error alert-dismissible" v-show="show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="fas fa-times-circle"></i>
        </a>
        <span><strong>WARNING!</strong> You need to fix these errors:</span>
        <ul>
            <li v-for="error in errors">
                <span v-if="Array.isArray(error)">{{ error[0] }}</span>
                <span v-else>{{ error }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['initialErrors'],

        data() {
            return {
                errors: this.initialErrors,
                show: false,
            }
        },

        created() {
            if (this.errors.length) {
                this.flash(this.errors);
            }

            window.events.$on('errors', errors => {
                this.flash(errors);
            });
        },

        methods: {
            flash(errors) {
                this.errors = errors;
                this.show = true;

                this.hide();
            },

            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 7000);
            }
        }
    };
</script>

<style>
    .alert-error {
        z-index: 9999;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
</style>
