<template>
    <div>
        <!-- Table row -->
        <div class="row">
            <button type="button" class="btn btn-success pull-right no-print" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i> ADD</button>
            <jobitems-modal @clicked="add" :job-items-type="jobItemsType"></jobitems-modal>
            <div class="col-xs-12 table">
                <table class="table table-striped table-no-more mb-0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Description</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">UM</th>
                            <th class="text-right">Totals</th>
                            <th class="text-right no-print">Tax</th>
                            <th class="text-right no-print">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr class="line_item_row" :data-row="index+1" v-for="(item, index) in items">
                                <td data-title="Item">{{ item.name }}</td>
                                <td data-title="Description">
                                    <input class="invisible-left" type="text" size="20" v-model="item.description_customer" @change="updateByColumn(item, $event)" name="description_customer">
                                </td>
                                <td data-title="Price" class="text-center">
                                    <input class="invisible-center" type="text" :value="item.price" v-mask="{mask: '9[9][9][9][9][9].99', greedy: false, placeholder: ''}" @change="updatePrice(item, $event)" name="price">
                                </td>
                                <td data-title="Quantity" class="text-center">
                                    <i class="fas fa-minus no-print" @click="item.qty > 1 ? decreaseQty(item) : ''"></i>
                                    <input class="invisible-center qty" type="text" :value="parseFloat(item.qty).toFixed(2)" name="qty" v-mask="{mask: '9[9][9][9][9][9].99', greedy: false, placeholder: ''}" @change="updateQty(item, $event)">
                                    <i class="fas fa-plus no-print" v-on:click="increaseQty(item)"></i>
                                </td>
                                <td data-title="UM" class="text-center" v-text="item.um"></td>
                                <td data-title="Totals" class="text-right">
                                    <div class="sumtotal">${{ calculateSumTotal(item) }}</div>
                                </td>
                                <td data-title="Tax" class="text-right no-print">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="taxed" v-model="item.taxed" v-if="item.taxed" @click="removeTax(item)">
                                        <input class="form-check-input" type="checkbox" name="taxed" v-model="item.taxed" v-else="item.taxed" @click="addTax(item)">
                                    </div>
                                </td>
                                <td data-title="Action" class="text-right no-print">
                                    <i class="fas fa-trash" @click="destroy(item, index)"></i>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-6 col-xs-push-6 col-xs-12">
                <p class="lead">Totals</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:60%">Subtotal:</th>
                                <td>
                                    <div :data-sum_subtotal="estimate.subtotal">
                                        ${{ calculateSubTotal(items) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Sales Tax</th>
                                <td>
                                    <div :data-sales_tax="estimate.sales_tax">
                                        ${{ estimate.sales_tax }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>
                                    <div :data-final_total="estimate.total">
                                        ${{ calculateTotal() }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.col -->

            <div class="col-xs-6 col-xs-pull-6 col-xs-12">
                <p class="lead">Footer notes</p>
                <span v-show="!editing" @click="editing=true">{{ estimate.message_client }} <i class="fas fa-pencil-alt no-print"></i></span>
                <textarea name="message_client" v-show="editing" v-model="estimate.message_client" placeholder="Enter footer notes" rows="4" class="form-control" @blur="updateClientMessage"></textarea>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</template>

<script>
    export default {
        props: ['estimate', 'jobItemsType'],

        data() {
            return {
                items: this.estimate.items,
                newItems: [],
                editing: false,
            }
        },

        methods: {
            add(item) {
                item.taxed = false;
                item.price_extended = item.price * item.qty;

                item.price_extended = parseFloat(Math.round(item.price_extended * 100) / 100).toFixed(2);

                this.estimate.subtotal = parseFloat(this.estimate.subtotal);
                this.estimate.subtotal += parseFloat(item.price_extended);

                this.estimate.total = this.estimate.subtotal + this.estimate.sales_tax;

                this.items.push(item);

                item.estimate_id = this.estimate.id;
                item.job_item_id = item.id;

                this.newItems.push(item);
                this.addTax(item);

                this.create();
            },

            create() {
                axios.post('/lineitems', this.newItems)
                    .then(response => {
                        this.updateEstimate();
                        this.items.splice(-this.newItems.length);

                        for(var i=0; i<this.newItems.length; i++) {
                            this.items.push(response.data[i]);
                        }

                        this.newItems = [];
                        this.$eventHub.$emit('jobitem-added');

                        flash('A new line item was added!');
                    });

                this.$forceUpdate();
            },

            destroy(item, index) {
                axios.delete('/lineitems/' + item.id).then(response => {
                    this.items.splice(index, 1);
                    this.updateEstimate();
                });

                if(item.taxed) {
                    this.removeTax(item);
                }

                this.$forceUpdate();

                flash('The line item was deleted!');
            },

            updateItem(item) {
                axios.patch('/lineitems/' + item.id, item)
                    .then(response => {
                        this.updateEstimate();
                    });
            },

            updateByColumn: function(item, event) {
                item.column = event.target.name;

                this.updateItem(item);

                flash('The item was updated!');
            },

            updateClientMessage(event) {
                this.estimate.column = event.target.name;

                axios.patch('/estimates/update/column/' + this.estimate.id, this.estimate)
                    .then(response => {
                        this.estimate.message_client = response.data.message_client;
                    });

                this.editing = false;
            },

            updatePrice(item, event) {
                let oldPrice = item.price;
                let oldPriceExtended = item.price_extended;

                item.price = event.target.value;
                item.price_extended = item.price * item.qty;
                this.$forceUpdate();

                if(item.taxed) {
                    let sales_tax = parseFloat(this.estimate.sales_tax - oldPriceExtended * .07 + item.price_extended * .07);
                    this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);
                }

                this.updateItem(item);
            },

            updateQty(item, event) {
                let oldPriceExtended = item.price_extended;

                item.qty = event.target.value;
                item.price_extended = item.price * item.qty;
                this.$forceUpdate();

                if(item.taxed) {
                    let sales_tax = parseFloat(this.estimate.sales_tax - oldPriceExtended * .07 + item.price_extended * .07);
                    this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);
                }

                this.updateItem(item);
            },

            updateEstimate() {
                axios.patch('/estimates/' + this.estimate.id, this.estimate);
            },

            increaseQty(item) {
                item.qty++;
                item.price_extended = this.calculateSumTotal(item);

                if(item.taxed) {
                    let sales_tax = parseFloat(this.estimate.sales_tax) + parseFloat(item.price * .07);

                    this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);
                }

                this.$forceUpdate();

                this.updateItem(item);
            },

            decreaseQty(item) {
                item.qty--;
                item.price_extended = this.calculateSumTotal(item);

                if(item.taxed) {
                    let sales_tax = parseFloat(this.estimate.sales_tax) - parseFloat(item.price * .07);

                    this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);
                };

                this.$forceUpdate();

                this.updateItem(item);
            },

            addTax(item) {
                let sales_tax = parseFloat(this.estimate.sales_tax) + parseFloat(this.recalculateSalesTax(item));

                this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);

                item.taxed = true;
                this.$forceUpdate();

                if(!this.newItems.length) {
                    this.updateItem(item);
                }
            },

            removeTax(item) {
                let sales_tax = parseFloat(this.estimate.sales_tax) - parseFloat(this.recalculateSalesTax(item));

                this.estimate.sales_tax = parseFloat(Math.round(sales_tax * 100) / 100).toFixed(2);

                item.taxed = false;
                this.$forceUpdate();

                this.updateItem(item);
            },

            calculateSumTotal(item) {
                item.price_extended = parseFloat(item.price * item.qty).toFixed(2);

                return parseFloat(item.price_extended).toFixed(2);
            },

            calculateSubTotal(items) {
                let subtotal = 0;

                for(var i=0; i<items.length; i++) {
                    subtotal += parseFloat(items[i].price_extended);
                }

                return this.estimate.subtotal = parseFloat(subtotal).toFixed(2);;
            },

            recalculateSalesTax(item) {
                let tax = this.calculateSumTotal(item) * 0.07;

                return this.estimate.sales_tax = parseFloat(Math.round(tax * 100) / 100).toFixed(2);
            },

            calculateTotal() {
                this.estimate.total = parseFloat(this.estimate.subtotal) + parseFloat(this.estimate.sales_tax);

                return this.estimate.total = parseFloat(this.estimate.total).toFixed(2);
            }
        }
    }
</script>
