<template>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-xs-12 col-sm-4 col-sm-push-4 invoice-col text-center">
            <div>
                <h1>Estimate</h1>
                <table class="estimate_table" align="center">
                    <tr>
                        <th>
                            <span v-show="!editing.prefix" @click="editing.prefix = true">
                                <h3>{{ estimate.prefix }} #{{ estimate.id }}</h3>
                            </span>

                            <input
                                autofocus
                                class="prefix"
                                type="text"
                                name="prefix"
                                v-show="editing.prefix"
                                v-model="estimate.prefix"
                                @change="save"
                                @blur="editing.prefix = false">
                        </th>

                        <td class="pull-right">
                            <h3 v-show="!editing.dateCreated" @click="editing.dateCreated = true">
                                {{ this.dateCreated }}
                            </h3>

                            <datetime
                                autofocus
                                ref="date_created"
                                type="date"
                                name="date_created"
                                format="MM-dd-yyyy"
                                required="required"
                                :auto="true"
                                v-show="editing.dateCreated"
                                v-model="estimate.date_created"
                                @close="updateCreatedDate">
                            </datetime>
                        </td>
                    </tr>

                    <tr>
                        <th><strong>Expiration Date: </strong></th>
                        <td class="pull-right">
                            <span v-show="!editing.dateExpiration" @click="editing.dateExpiration = true">
                                {{ estimate.date_expiration }}
                            </span>

                            <select
                                id="date_expiration"
                                class="form-control input-sm"
                                name="date_expiration"
                                required="required"
                                v-model="estimate.date_expiration"
                                v-show="editing.dateExpiration"
                                @change="updateExpirationDate">

                                <option disabled selected>Choose</option>
                                <option v-for="(value, key) in expiresIn" :value="key">{{ value }}</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th><strong>Payment Terms: </strong></th>
                        <td class="pull-right">
                            <span v-show="!editing.paymentTerms" @click="editing.paymentTerms = true">
                                {{ estimate.payment_terms }}
                            </span>

                            <select
                                id="payment_terms"
                                class="form-control input-sm"
                                name="payment_terms"
                                required="required"
                                v-model="estimate.payment_terms"
                                v-show="editing.paymentTerms"
                                @change="updatePaymentTerms">

                                <option disabled>Choose</option>
                                <option v-for="option in paymentTerms" :value="option">{{ option }}</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th><strong>Salesperson: </strong></th>
                        <td class="pull-right">
                            <span v-show="!editing.salesperson" @click="editing.salesperson = true">
                                {{ this.getSalesperson(this.estimate.salesperson) }}
                            </span>

                            <select
                                id="salesperson"
                                class="form-control input-sm"
                                v-model="estimate.salesperson"
                                name="salesperson"
                                required="required"
                                v-show="editing.salesperson"
                                @change="updateSalesperson">

                                <option v-for="user in users" :value="user.id" v-text="user.name"></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th><strong>Job: </strong></th>
                        <td class="pull-right">
                            <span v-show="!editing.jobName" @click="editing.jobName = true">
                                {{ estimate.job_name ? estimate.job_name : 'Enter job name' }}
                            </span>

                            <input
                                autofocus
                                type="text"
                                name="job_name"
                                class="form-control input-sm"
                                placeholder="Enter job name"
                                v-show="editing.jobName"
                                v-model="estimate.job_name"
                                @change="save"
                                @blur="editing.jobName = false">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- /.col -->
        <div class="col-xs-6 col-sm-4 col-sm-pull-4 invoice-col">
            <div>
                <strong>Job Site</strong>
                <address>
                    <p style="white-space: pre-line;" v-show="!editing.jobSite" @click="editing.jobSite = true">
                        <strong>{{ this.estimate.address.contact.fullName }}</strong>
                        {{ this.estimate.address.street_address }}<span v-if="this.estimate.address.suite_no">, Suite {{ this.estimate.address.suite_no }}</span>
                        {{ this.estimate.address.city }}, {{ this.estimate.address.state }}, {{ this.estimate.address.zip }}
                    </p>
                    <span v-show="editing.jobSite" @click="editing.jobSite = ! editing.jobSite" class="pull-right">
                        Close <i class="far fa-times-circle"></i>
                    </span>
                    <autocomplete-address v-show="editing.jobSite"></autocomplete-address>
                </address>
            </div>
        </div>
        <!-- /.col -->

        <div class="col-xs-6 col-sm-4 invoice-col text-right">
            <div>
                <address>
                    2745 NW 21st Street
                    <br>Miami, FL 33142
                    <br>(305) 204-3333
                    <br>www.miamigas.com
                </address>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</template>

<script>
    import moment from 'moment';

    export default {
        props: ['initialEstimate', 'users'],

        data() {
            return {
                editing: {
                    prefix: false,
                    dateCreated: false,
                    dateExpiration: false,
                    paymentTerms: false,
                    salesperson: false,
                    jobName: false,
                    jobSite: false,
                },
                estimate: this.initialEstimate,
                salesperson: '',
                dateCreated: this.initialEstimate.date_created,
            }
        },

        computed: {
            expiresIn: function() {
                return window.App.expiresIn;
            },

            paymentTerms: function() {
                return window.App.paymentTerms;
            }
        },

        created() {
            this.$eventHub.$on('address-changed', this.updateAddress);
        },

        beforeDestroy() {
            this.$eventHub.$off('address-changed');
        },

        methods: {
            edit() {
                console.log(event.target);
                this.editing = !this.editing;
            },

            save(event) {
                this.estimate.column = event.target.name;

                axios.patch('/estimates/update/column/' + this.estimate.id, this.estimate);
            },

            updateAddress(id) {
                this.estimate.column = 'address_id';
                this.estimate.address_id = id;

                axios.patch('/estimates/update/column/' + this.estimate.id, this.estimate)
                    .then(response => {
                        this.estimate.address = response.data.address;
                    });

                this.editing.jobSite = false;
            },

            updateExpirationDate(event) {
                var days = parseInt(event.target.value);
                var newdate = moment(new Date(this.dateCreated)).add(days, 'd');
                this.estimate.date_expiration = newdate.format('YYYY-MM-DD');

                this.estimate.column = 'date_expiration';

                axios.patch('/estimates/update/column/' + this.estimate.id, this.estimate)
                    .then(response => {
                        this.estimate.date_expiration = moment(new Date(this.estimate.date_expiration)).format('MM-DD-YYYY');
                    });

                this.editing.dateExpiration = false;
            },

            updateCreatedDate(event) {
                this.estimate.date_created = moment(new Date(this.estimate.date_created)).format('YYYY-MM-DD');

                this.estimate.column = 'date_created';

                axios.patch('/estimates/update/column/' + this.estimate.id, this.estimate)
                    .then(response => {
                        this.estimate.date_created = moment(new Date(response.data.date_created)).format('MM-DD-YYYY');
                    });

                this.dateCreated = moment(new Date(this.estimate.date_created)).format('MM-DD-YYYY');
                this.$forceUpdate();

                this.editing.dateCreated = false;
            },

            updatePaymentTerms(event) {

                this.save(event);

                this.editing.paymentTerms = false;
            },

            updateSalesperson(event) {
                this.save(event);

                this.editing.salesperson = false;
            },

            getSalesperson(id) {
                axios.get('/users/' + id).then(response => {
                    this.salesperson = response.data.name;
                });

                return this.salesperson;
            },
        }
    }
</script>

<style>
    .estimate_table {
        font-size: 13px;
    }

    .prefix {
        font-size: 23px;
        width: 75px;
        border: 0px;
    }
</style>
