<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="estimate"
            message="Are you sure you want to delete this estimate?">
        </confirmation-modal>
        <email-modal></email-modal>
        <pdf-generator-modal></pdf-generator-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>#</th>
                    <th>Job Site</th>
                    <th>Job Name</th>
                    <th>Salesperson</th>
                    <th>Payment</th>
                    <th>Total</th>
                    <th>Profit</th>
                    <th>Expiration date</th>
                    <th>Created date</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(estimate, index) in estimates" :key="index">
                    <td>
                        <a :href="estimate.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View estimate"></i></a>
                        <a v-can="'update_estimates'" :href="estimate.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit estimate"></i></a>
                        <a v-can="'delete_estimates'" data-toggle="modal" data-target="#estimate" @click="pendingDelete(estimate, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete estimate"></i></a>
                        <a data-toggle="modal" data-target="#pdfModal" @click="generatePDF(estimate)"><i class="fa fa-file-pdf" data-toggle="tooltip" data-placement="bottom" title="Download estimate"></i></a>
                        <a data-toggle="modal" data-target="#emailModal" @click="email(estimate)"><i class="fa fa-envelope" data-toggle="tooltip" data-placement="bottom" title="Send estimate"></i></a>
                        <a :href="'/agreements/create?address=' + estimate.address.id" ><i class="fas fa-file-signature" data-toggle="tooltip" data-placement="bottom" title="Generate agreement"></i></a>
                    </td>
                    <td v-text="estimate.prefix + ' ' + estimate.id"></td>
                    <td>{{ estimate.address.street_address }}<span v-if="estimate.address.suite_no">, Suite {{ estimate.address.suite_no}}</span></td>
                    <td v-text="estimate.job_name"></td>
                    <td v-text="estimate.user.name"></td>
                    <td v-text="estimate.payment_terms"></td>
                    <td v-text="'$'+estimate.total"></td>
                    <td v-text="'$'+estimate.profit"></td>
                    <td v-text="moment(estimate.date_expiration, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY')"></td>
                    <td v-text="moment(estimate.date_created, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import ConfirmationModal from './ConfirmationModal.vue';
    import EmailModal from './EmailModal';
    import PdfGeneratorModal from './PdfGeneratorModal';
    import moment from 'moment';

    export default {
        props: ['initialEstimates'],

        components: { ConfirmationModal, EmailModal, PdfGeneratorModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                estimates: this.initialEstimates,
                estimate: '',
                index: '',
            }
        },

        methods: {
            destroy(estimate, index) {
                if(this.isConfirmed) {
                    axios.delete(estimate.path, estimate.id)
                        .then(response => {
                            this.estimates.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },
            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.estimate, this.index);
            },

            pendingDelete(estimate, index) {
                this.estimate = estimate;
                this.index = index;

                this.$forceUpdate();
            },

            email(estimate){
                this.$eventHub.$emit('emailModalToggle', estimate);
                this.$forceUpdate();
            },

            generatePDF(estimate) {
                this.$eventHub.$emit('generating-pdf', estimate);
            }
        }
    }
</script>
