<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="jobitem"
            message="Are you sure you want to delete this job item?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Internal Desc</th>
                    <th>Customer Desc</th>
                    <th>U/M</th>
                    <th>Cost</th>
                    <th>Price</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>
                    <tr v-for="(jobitem, index) in jobitems">
                        <td data-title="Action">
                            <a v-can="'update_jobitems'" :href="jobitem.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit job item"></i></a>
                            <a v-can="'delete_jobitems'" data-toggle="modal" data-target="#jobitem" @click="pendingDelete(jobitem, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete job item"></i></a>
                        </td>
                        <td v-text="jobitem.name"></td>
                        <td v-text="jobitem.type"></td>
                        <td v-text="jobitem.description_internal"></td>
                        <td v-text="jobitem.description_customer"></td>
                        <td v-text="jobitem.um"></td>
                        <td v-text="jobitem.cost"></td>
                        <td v-text="jobitem.price"></td>
                        <td v-text="moment(jobitem.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                    </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialJobitems'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                jobitems: this.initialJobitems,
                jobitem: '',
                index: '',
            }
        },

        methods: {
            destroy(jobitem, index) {
                if(this.isConfirmed) {
                    axios.delete(jobitem.path, jobitem.id)
                        .then(response => {
                            this.jobitems.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.jobitem, this.index);
            },

            pendingDelete(jobitem, index) {
                this.jobitem = jobitem;
                this.index = index;

                this.$forceUpdate();
            }
        }
    }
</script>
