<template>
    <div>
        <div v-for="type in jobItemsType" :id="type.toLowerCase()" class="modal fade" role="dialog">
        	<div class="modal-dialog">

        		<!-- Modal content-->
        		<div class="modal-content">
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
        				<h4 class="modal-title">Add {{ type }}</h4>
        			</div>

                    <div class="modal-body">
          				<button type="button" v-for="(item, index) in items"
                            v-if="item.type == type"
                            @click="clicked(item, index)"
          					v-text="item.name"
                            class="btn btn-default"
                            :disabled="status">
          				</button>
                    </div>

        			<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['jobItemsType'],

        data() {
            return {
                items: [],
                status: false,
            }
        },

        mounted() {
            this.fetch();
        },

        created() {
            this.$eventHub.$on('jobitem-added', this.enable);
        },

        beforeDestroy() {
            this.$eventHub.$off('jobitem-added');
        },

        methods: {
            fetch() {
                axios.get('/jobitems').then(this.refresh);
            },

            refresh({data}) {
                this.items = data;
            },

            clicked(item, index) {
                item.qty = parseFloat(1).toFixed(2);;

                this.$emit('clicked', item);
                this.items.splice(index, 1);

                this.status = true;
            },

            enable() {
                this.status = false;
            }
        }
    }
</script>
