<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="lead"
            message="Are you sure you want to delete this lead?">
        </confirmation-modal>

        <leads-activity-modal></leads-activity-modal>
        <assign-to-user-modal></assign-to-user-modal>

        <table id="leads-datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Bucket</th>
                    <th>User Information</th>
                    <th>Address</th>
                    <th>Service Requested</th>
                    <th>Tags</th>
                    <th>Assignees</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                    <tr v-for="(lead, index) in leads">
                        <td data-title="Action">
                            <a :href="lead.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View lead"></i></a>
                            <a data-toggle="modal" data-target="#leads-activity-modal" @click="set(lead)"><i class="far fa-calendar-check" data-toggle="tooltip" data-placement="bottom" title="Log/Schedule Activity"></i></a>
                            <a data-toggle="modal" data-target="#assign-to-user-modal" @click="assign(lead)"><i class="fas fa-paperclip" data-toggle="tooltip" data-placement="bottom" title="Assign to user"></i></a>
                            <a :href="lead.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit lead"></i></a>
<!--                            <a :href="lead.contact.path"><i class="fa fa-user" data-toggle="tooltip" data-placement="bottom" title="View contact"></i></a>-->
                            <a v-can="'update_contacts'" :href="lead.contact.path + '/edit'"><i class="fas fa-user-edit" data-toggle="tooltip" data-placement="bottom" title="Edit contact"></i></a>
                            <a data-toggle="modal" data-target="#lead" @click="pendingDelete(lead, index)">
                                <i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete lead"></i>
                            </a>
                            <a :href="'/agreements/create?address=' + lead.address.id" ><i class="fas fa-file-signature" data-toggle="tooltip" data-placement="bottom" title="Generate agreement"></i></a>
                        </td>
                        <td>
                            <span v-if="lead.bucket_name == 'Call'"><i class="fa-lg	fas fa-phone-volume"></i></span>
                            <span v-if="lead.bucket_name == 'Visit'"><i class="fa-lg fas fa-map-marker-alt"></i></span>
                            <span v-if="lead.bucket_name == 'Email'"><i class="fa-lg fas fa-envelope"></i></span>
                            <span v-if="lead.bucket_name == 'Completed'"><i class="fa-lg fas fa-check"></i></span>
                            <span v-if="lead.bucket_name == 'Archived'"><i class="fa-lg fas fa-archive"></i></span>
                            <span v-if="lead.bucket_name == 'No bucket'"><i class="fa-lg fas fa-exclamation"></i></span>
                            <span>{{ lead.bucket_name }}</span>
                            <p>Priority: {{ lead.priority_name }}</p>
                        </td>
                        <td>
                            <a :href="lead.contact.path"><strong>{{ lead.contact.fullName }}</strong></a><br/>
                            {{ lead.contact.email }}<br/>
                            {{ lead.contact.phone }}
                        </td>
                        <td>
                            {{ lead.address.street_address }}<span v-if="lead.address.suite_no">, Suite {{ lead.address.suite_no }}</span><br/>
                            {{ lead.address.city }}, {{ lead.address.state}}, {{ lead.address.zip }}
                        </td>
                        <td v-text="lead.interest"></td>
                        <td>
                            <div v-if="lead.tags.length > 0 && !showAllTags">
                                <span class="label label-success">{{ lead.tags[0].name.en }}</span>
                                <a href="#" v-if="lead.tags.length > 1" @click="showAllTags=true">+ {{ lead.tags.length-1}} more</a>
                            </div>

                            <div v-else>
                                <ul>
                                    <li v-for="tag in lead.tags">
                                        <span class="label label-success">{{ tag.name.en }}</span>
                                    </li>
                                </ul>
                            </div>

                            <span style="display: none;" v-for="tag in lead.tags">{{ tag.name.en }}</span>
                        </td>
                        <td>
                            <ul>
                                <li v-for="assignee in lead.assignees">
                                    <a :href="assignee.path" class="label label-primary">{{ assignee.name }}</a>
                                </li>
                            </ul>
                        </td>
                        <td v-text="moment(lead.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                    </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    $(document).ready(function() {
        $('#leads-datatable-responsive').DataTable().draw().responsive.recalc();
    });

    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';
    import LeadsActivityModal from './LeadsActivityModal.vue';
    import AssignToUserModal from './AssignToUserModal.vue';


    export default {
        props: ['initialLeads'],

        components: { ConfirmationModal, LeadsActivityModal, AssignToUserModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                leads: this.initialLeads,
                lead: '',
                index: '',
                showAllTags: false,
            }
        },

        methods: {
            destroy(lead, index) {
                if(this.isConfirmed) {
                    axios.delete(lead.path, lead.id)
                        .then(response => {
                            this.leads.splice(index, 1);
                            this.$forceUpdate();
                            flash(response.data.message);
                        });
                }
                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;
                this.destroy(this.lead, this.index);
            },

            pendingDelete(lead, index) {
                this.lead = lead;
                this.index = index;
                this.$forceUpdate();
            },

            set(lead) {
                this.$eventHub.$emit('toggle-activity-modal', lead);
            },

            assign(lead) {
                this.$eventHub.$emit('assign-to-user', lead);
            },
        }
    }
</script>

<style>
    .assignees ul {
        display: flex;
        align-items: center;
    }
</style>
