<template>
    <div id="leads-activity-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Activity</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3"><h4>Contact name</h4></div>
                        <div class="col-md-9"><h4 class="text-lighter">{{ contact.fullName }}</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><h4>Company name</h4></div>
                        <div class="col-md-9"><h4 class="text-lighter">{{ contact.company }}</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><h4>Phone number</h4></div>
                        <div class="col-md-9"><h4 class="text-lighter">{{ contact.phone }}</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><h4>Email</h4></div>
                        <div class="col-md-9">
                            <h4 class="text-lighter">
                                <a :href="'mailto:' + contact.email">{{ contact.email }}</a>
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><h4>Address</h4></div>
                        <div class="col-md-9"><h4 class="text-lighter">{{ address.fullAddress }}</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><h4>Current bucket:</h4></div>
                        <div class="col-md-9"><h4 class="text-lighter">{{ lead.bucket_name }}</h4></div>
                    </div>

                    <hr/>

                    <form class="form-horizontal" @submit.prevent="checkForm">
                        <input type="hidden" name="activity-type" v-model="activityType">
                        <div class="form-group">
                            <select name="type" class="form-control" v-model="type" required>
                                <option value="" disabled selected>Log / Schedule</option>
                                <option v-for="(type, key) in lead.activity_types" :value="key">{{ type }}</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 col-xs-12">
                                <select name="bucket" class="form-control" v-model="bucket" required>
                                    <option value="" disabled selected>Select a bucket</option>
                                    <option v-for="(bucket, key) in lead.buckets" :value="key">{{ bucket }}</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 col-xs-6">
                                <datetime type="date" name="date" v-model="date" :auto="true" format="MM-dd-yyyy" input-class="form-control col-md-7 col-xs-12 date" placeholder="Select a date" required></datetime>
                            </div>

                            <div class="form-group col-md-4 col-xs-6">
                                <select name="time" class="form-control" v-model="time" required>
                                    <option value="" selected disabled>Select an hour</option>
                                    <option v-for="(hour, index) in lead.schedule_hours" :value="index">{{ hour }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 col-xs-12">
                                <input type="checkbox" class="form-check-input" v-model="changeBucket" id="changeBucket">
                                <label for="changeBucket">Move the lead to the selected bucket?</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea name="notes" v-model="notes" cols="30" rows="4" class="form-control" placeholder="Type your comments here..." required></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-md btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        props: ['initialLead'],

        data() {
            return {
                moment: moment,
                lead: {},
                contact: {},
                address: {},
                type: '',
                bucket: '',
                date: '',
                time: '',
                notes: '',
                activityType: '',
                changeBucket: true,
            }
        },

        created() {
            if(this.initialLead) {
                this.lead = this.initialLead;
                this.contact = this.lead.contact;
                this.address = this.lead.address;
            }

            this.$eventHub.$on('toggle-activity-modal', (lead) => {
                this.lead = lead;
                this.contact = this.lead.contact;
                this.address = this.lead.address;
                this.$forceUpdate();
            });
        },

        methods: {
            checkForm(e) {
                if(this.type && this.bucket && this.date && this.time && this.notes) {
                    this.addActivity();
                } else {
                    errors({ message: 'Required fields are missing!' });
                }
            },

            addActivity() {
                axios.post(this.lead.path + '/add-activity', {
                    type: this.type,
                    bucket: this.bucket,
                    date: this.date,
                    time: this.time,
                    change_bucket: this.changeBucket,
                    notes: this.notes
                }).then(response => {
                    $('#leads-activity-modal').modal('hide');

                    if(response.data.redirect) {
                        window.location = response.data.redirect;
                    }

                    flash(response.data.message);

                }).catch(error => {
                    errors(error.response.data.errors); // flash error messages
                });
            },

            toggleChangeBucket() {
                this.changeBucket = !this.changeBucket;
                this.$forceUpdate();
            },
        },
    }
</script>
