<template>
    <div id="message-send-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send message</h4>
                </div>

                <div class="modal-body">
                    <form @submit="checkForm" method="POST">
                        <autocomplete-users @added="setRecipients" @removed="unsetRecipients"></autocomplete-users>

                        <div class="form-group">
                            <label for="emailBody">Message:</label>
                            <textarea class="form-control" id="message" rows="7" v-model="body" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Send
                            <i v-if="loadingSpinner" class="fa fa-spin fa-spinner"></i>
                        </button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AutocompleteUsers from './AutocompleteUsers.vue';

    export default {
        props: ['initialUser'],
        components: { AutocompleteUsers },

        data() {
            return {
                body: '',
                recipients: [],
                loadingSpinner: false,
            }
        },

        methods: {
            checkForm: function(e) {
                e.preventDefault();

                if (this.body && this.recipients.length) {
                    this.send();
                } else {
                    errors({
                        message: ['Make sure you entered a recipient and a message'],
                    });
                }
            },

            send() {
                let that = this;
                this.loading();

                axios.post('/users/send-message', {
                    body: this.body,
                    recipients: this.recipients,
                }).then(function (response) {
                    that.loading();
                    that.body = '';

                    $('#message-send-modal').modal('hide');
                    that.$eventHub.$emit('message-sent');
                    flash(response.data.message);
                }).catch(function (error) {
                    errors(error.response.data.errors);
                });
            },

            loading() {
                this.loadingSpinner = !this.loadingSpinner;
            },

            setRecipients(users) {
                let list = [];

                for (var i = 0; i < users.length; i++) {
                    list.push(users[i].id);
                }

                this.recipients = list;
            },

            unsetRecipients() {
                this.recipients = [];
            }
        },
    }
</script>
