<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="message"
            message="Are you sure you want to delete this message?">
        </confirmation-modal>

        <div id="viewMessage" class="modal fade" role="dialog">
            <div class="modal-dialog" v-if="message">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ message.sender.name }}</h4>
                    </div>

                    <div class="modal-body">
                        {{ message.body }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                <tr :class="!message.read_at ? 'unread' : ''" v-for="(message, index) in messages" :data-index="index" :data-id="message.id" data-toggle="tooltip" :data-original-title="moment(message.created_at, 'YYYY-MM-DD HH:mm:ss').fromNow()">
                    <td data-title="Action" class="col-md-1">
                        <a @click="setMessage(message, index)">
                            <i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View"></i>
                        </a>
                        <a data-toggle="modal" data-target="#message-user-modal" @click="setUser(message.sender)">
                            <i class="fa fa-reply" data-toggle="tooltip" data-placement="bottom" title="Reply"></i>
                        </a>
                        <a data-toggle="modal" data-target="#message" @click="pendingDelete(message, index)">
                            <i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
                        </a>
                    </td>
                    <td class="col-md-2"><a :href="message.sender.path">{{ message.sender.name }}</a></td>
                    <td v-if="message.body.length <= 150" v-text="message.body" class="col-md-7"></td>
                    <td v-else v-text="message.body.substr(0,150) + '...'" class="col-md-7"></td>
                    <td class="col-md-2" v-text="moment(message.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>

        <message-user-modal :initial-user="user"></message-user-modal>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';
    import MessageUserModal from './MessageUserModal.vue';

    export default {
        props: ['initialMessages'],

        components: { ConfirmationModal, MessageUserModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                messages: this.initialMessages,
                message: '',
                index: '',
                user: '',
            }
        },

        created() {
            this.showMessage();
        },

        methods: {
            destroy(message, index) {
                if(this.isConfirmed) {
                    axios.delete(message.path, message.id)
                        .then(response => {
                            this.messages.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.message, this.index);
            },

            pendingDelete(message, index) {
                this.message = message;
                this.index = index;

                this.$forceUpdate();
            },

            setUser(user) {
                this.user = user;
                this.$eventHub.$emit('set-user', {
                    id: user.id,
                    name: user.name,
                });

                this.$forceUpdate();
            },

            setMessage(message) {
                this.message = message;
                let row = $('[data-id=' + message.id + ']');

                if(!message.read_at) {
                    axios.patch('/messages/' + message.id + '/mark-as-read')
                        .then(response => {
                            row.removeClass('unread');
                        });
                }

                $('#viewMessage').modal('show');
                this.$forceUpdate();
            },

            showMessage() {
                let url = new URL(window.location.href);
                let tab = url.searchParams.get('tab');
                let id = url.searchParams.get('id');

                if(tab && id) {
                    axios.get('/messages/' + id).then(response => {
                        this.setMessage(response.data);
                        this.$forceUpdate();
                    });
                }
            }
        }
    }
</script>

<style>
    .unread {
        font-weight: bold;
    }
</style>
