<template>
    <div class="notes">
        <confirmation-modal
            @confirmed="confirmed"
            model="note"
            message="Are you sure you want to delete this note?">
        </confirmation-modal>

        <span v-if="!notes.length">Add a note using the form below!</span>
        <form @submit="checkForm">
            <div class="form-group">
                <textarea id="body" v-model="body" required="required" rows="4" class="form-control" name="body" placeholder="Type your notes here..."></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block">Add note</button>
            </div>
        </form>

        <ul class="list-unstyled">
            <li v-for="(note, index) in notes" :key=note.id class="list-group-item mt-1">
                <strong><a :href="note.user.path">{{ note.user.name }}</a> wrote...</strong>

                <a class="pull-right"
                    v-can="{ action: 'delete_notes', owns: note.user.id === user.id }"
                    data-toggle="modal"
                    data-target="#note"
                    @click="pendingDelete(note, index)">
                    <i class="fa fa-trash"></i>
                </a>

                <p>{{ note.body }}</p>
                <small><em>{{ moment(note.created_at).fromNow() }} on {{ moment(note.created_at).format('LLLL')}}</em></small>
            </li>
        </ul>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialNotes', 'id', 'type'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                notes: this.initialNotes,
                note: {},
                index: '',
                notableId: this.id,
                notableType: this.type,
                body: '',
            }
        },

        computed: {
            user: function() {
                return window.App.user;
            }
        },

        methods: {
            checkForm: function(e) {
                e.preventDefault();

                if(this.body) {
                    this.add();
                }
            },

            add() {
                this.note.notable_id = this.notableId;
                this.note.notable_type = this.notableType;
                this.note.privacy = 'Public';
                this.note.body = this.body;

                axios.post('/notes', this.note).then(response => {
                    this.notes.unshift(response.data);
                    this.body = '';
                });
            },

            destroy(note, index) {
                if(this.isConfirmed) {
                    axios.delete(note.path, note.id)
                        .then(response => {
                            this.notes.splice(index, 1);
                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.note, this.index);
            },

            pendingDelete(note, index) {
                this.note = note;
                this.index = index;

                this.$forceUpdate();
            },
        },
    }
</script>
