<template>
    <li role="presentation" class="dropdown" v-cloak>
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="far fa-envelope"></i>
            <span class="badge bg-green" v-if="notifications.length">{{ notifications.length }}</span>
        </a>
        <ul id="notifications" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li class="notification" v-for="(notification, index) in notifications" v-if="index < 5">
                <a @click="goToMessage(notification)">
                    <span class="image" v-if="notification.data.sender_avatar">
                        <img :src="notification.data.sender_avatar" alt="Profile Image" />
                    </span>

                    <span class="image" v-else="notification.data.sender_avatar">
                        <img src="/images/user.png" alt="Profile Image" />
                    </span>

                    <span class="link">
                        <span v-text="notification.data.sender_name"></span>
                        <span class="time" v-text="moment(notification.created_at, 'YYYY-MM-DD HH:mm:ss').fromNow()"></span>
                        <span @click="markAsRead($event, notification, index)">
                            <i class="fas fa-check pull-right" data-toggle="tooltip" data-original-title="Mark as read" data-placement="top"></i>
                        </span>
                    </span>

                    <span class="message" v-text="notification.data.message" v-if="notification.data.message.length <= 150"></span>
                    <span class="message" v-text="notification.data.message.substr(0,150) + '...'" v-else></span>
                </a>
            </li>

            <li v-if="notifications.length" @click="markAllAsRead">
                <div class="text-center">
                    <a>
                        <strong>Mark all as read</strong>
                    </a>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a :href="this.user.path + '?tab=messages'">
                            <strong>View all</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                    <div class="col-md-6 text-center">
                        <a data-toggle="modal" data-target="#message-send-modal">
                            <strong>Send message</strong>
                        </a>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</template>

<script>
    import moment from 'moment';
    import MessageSendModal from './MessageSendModal.vue';

    export default {
        props: ['initialUser'],
        components: { MessageSendModal },

        data() {
            return {
                moment: moment,
                user: this.initialUser,
                notifications: {},
            }
        },

        created() {
            this.getUnreadNotifications(this.user);
        },

        methods: {
            markAsRead(event, notification, index) {
                event.stopPropagation();

                axios.post('/users/'+ this.user.id +'/read-notification', {
                    id: notification.id,
                    messageId: notification.data.message_id,
                }).then(response => {
                    this.notifications.splice(index, 1);
                    $('[data-toggle="tooltip"]').tooltip('hide');
                    flash(response.data.message);
                });
            },

            markAllAsRead() {
                axios.post(this.user.path +'/read-all-notifications')
                    .then(response => {
                        this.notifications = [];
                        flash(response.data.message);
                });
            },

            goToMessage(notification, index) {
                if(notification.data.message_id) {
                    let id = notification.data.message_id;

                    axios.post(this.user.path +'/read-all-notifications')
                        .then(response => {
                            window.location.replace(this.user.path + '?tab=messages&id=' + id);
                    });

                }
            },

            getUnreadNotifications(user) {
                axios.get('/users/' + user.id + '/unread-notifications')
                    .then(response => {
                        this.notifications = response.data;
                    });
            },
        }
    }
</script>

<style>
    .tooltip {
        z-index: 9999;
    }
</style>
