<template>
    <div>
        <br>
        <form id="user-form" data-parsley-validate class="form-horizontal form-label-left" @submit.prevent="checkForm">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Old password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" v-model="oldPassword" required="required" class="form-control col-md-7 col-xs-12" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    New password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" v-model="password" required="required" class="form-control col-md-7 col-xs-12" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    Verify password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" v-model="passwordConfirmation" required="required" class="form-control col-md-7 col-xs-12" autocomplete="off">
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: ['initialUser'],

        data() {
            return {
                user: this.initialUser,
                oldPassword: '',
                password: '',
                passwordConfirmation: '',
            }
        },

        methods: {
            checkForm() {
                if (this.oldPassword && this.password && this.passwordConfirmation) {
                    this.changePassword();
                }
            },

            changePassword() {
                axios.post(this.user.path + '/change-password', {
                    'old_password': this.oldPassword,
                    'password': this.password,
                    'password_confirmation': this.passwordConfirmation
                }).then(response => {
                    this.oldPassword = '';
                    this.password = '';
                    this.passwordConfirmation = '';

                    flash(response.data.message);
                }).catch(error => {
                    errors(error.response.data.errors);
                });
            },
        }
    }
</script>
