<template>
    <div id="pdfModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PDF Estimate Generator</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="emailTo">Choose the estimate type below:</label>
                        <select id="type" name="type" class="form-control" v-model="type">
                            <option disabled>Choose type</option>
                            <option value="summary" selected>Summary</option>
                            <option value="detailed">Detailed</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-right" @click="download(this.id)">Download (.pdf) <i v-if="loadingSpinner" class="fa fa-spin fa-spinner"></i></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                type: 'summary',
                id: '',
                loadingSpinner: false,
            }
        },

        created() {
            this.$eventHub.$on('generating-pdf', this.setEstimateId);
        },

        beforeDestroy() {
            this.$eventHub.$off('generating-pdf');
        },

        methods: {
            setEstimateId(estimate) {
                this.id = estimate.id;
                this.$forceUpdate();
            },

            download(id) {
                this.loading();
                
                axios({
                    url: '/estimates/' + this.id + '/pdf',
                        method: 'GET',
                        params: {
                            'type': this.type,
                            'id': this.id,
                        },
                        responseType: 'blob',
                    }).then((response) => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'document-estimate-' + this.id + '.pdf');
                        document.body.appendChild(link);
                        link.click();

                        this.loading();
                        $('#pdfModal').modal('hide');
                });
            },

            loading(){
                this.loadingSpinner = !this.loadingSpinner;
            },
        }
    }
</script>
