<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="permission"
            message="Are you sure you want to delete this permission?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(permission, index) in permissions">
                    <td data-title="Action">
                        <a v-can="'update_permissions'" :href="permission.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit permission"></i></a>
                        <a v-can="'delete_permissions'" data-toggle="modal" data-target="#permission" @click="pendingDelete(permission, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete permission"></i></a>
                    </td>
                    <td v-text="permission.name"></td>
                    <td v-text="permission.description"></td>
                    <td v-text="moment(permission.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialPermissions'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                permissions: this.initialPermissions,
                permission: '',
                index: '',
            }
        },

        methods: {
            destroy(permission, index) {
                if(this.isConfirmed) {
                    axios.delete(permission.path, permission.id)
                        .then(response => {
                            this.permissions.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.permission, this.index);
            },

            pendingDelete(permission, index) {
                this.permission = permission;
                this.index = index;

                this.$forceUpdate();
            }
        }
    }
</script>
