<template>
        <div>
            <croppa
                v-model="croppa"
                :initial-image="initialImage"
                accept=".jpeg,.jpg,.png"
                @new-image="showButton=true"
                :show-loading="true"
                :width="150"
                :height="150">
            </croppa>
            <button class="btn btn-success" @click="upload" v-if="showButton">UPLOAD</button>
        </div>
</template>

<script>
    export default {
        props: ['initialUser'],

        data() {
            return {
                croppa: {},
                initialImage: this.initialUser.avatar,
                showButton: false,
            }
        },

        methods: {
            upload() {
                if (!this.croppa.hasImage()) {
                    alert('no image to upload');
                    return;
                }

                this.croppa.generateBlob((blob) => {
                    var fd = new FormData();
                    fd.append('file', blob, 'filename.jpg');

                    axios.post(window.location.pathname + '/avatar', fd)
                        .then(response => {
                            this.initialImage = '/avatars/users/' + response.data;
                            this.showButton = false;

                            $(".img-circle").attr("src", '/storage/' + response.data);
                            flash('The profile picture was changed!');
                        });
                })
            },
        }
    }
</script>

<style media="screen">
    .croppa-container:hover {
        opacity: 1;
        background-color: #CCCCCC;
    }

    .croppa-container svg.icon-remove {
        display: none;
    }

    .croppa-container:hover svg.icon-remove {
        display: block;
    }
</style>
