<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="role"
            message="Are you sure you want to delete this role?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(role, index) in roles">
                    <td data-title="Action">
                        <a v-can="'update_roles'" :href="role.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit role"></i></a>
                        <a v-can="'delete_roles'" data-toggle="modal" data-target="#role" @click="pendingDelete(role, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete role"></i></a>
                    </td>
                    <td v-text="role.name"></td>
                    <td v-text="role.description"></td>
                    <td v-text="moment(role.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialRoles'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                roles: this.initialRoles,
                role: '',
                index: '',
            }
        },

        methods: {
            destroy(role, index) {
                if(this.isConfirmed) {
                    axios.delete(role.path, role.id)
                        .then(response => {
                            this.roles.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.role, this.index);
            },

            pendingDelete(role, index) {
                this.role = role;
                this.index = index;

                this.$forceUpdate();
            }
        }
    }
</script>
