<template>
    <li class="col-md-5 col-sm-5 col-xs-12 top_search" v-cloak>
        <form @submit="search" class="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." v-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                </span>
            </div>
        </form>
    </li>
</template>

<script>
    export default {
        data() {
            return {
                query: '',
                show: false,
            }
        },

        methods: {
            search: function(e) {
                e.preventDefault();
                window.location = '/search?query=' + this.query;
            },
        }
    }
</script>

<style>
    .top_search {
        margin-top: 10px;
    }

    /* @media (max-width: 767px) {
        .search-form {
            display: none;
        }
    } */
</style>
