<template>
    <div id="app">
        <div v-if="errors.length">
            <div class="alert-danger" role="alert">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="confirmed" id="confirmed" required>
            <label class="form-check-label" for="confirmed">I have read and understand</label>
        </div>
        <hr/>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <label>Signature ({{ this.userType }})</label>
                <VueSignaturePad class="signature" ref="signaturePad"></VueSignaturePad>
                <br>
                <button @click="clear" class="btn btn-danger">Clear</button>
                <button @click="undo" class="btn btn-warning">Undo</button>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <label for="full_name_typed">Full Name Typed ({{ this.userType }})</label>
                <input type="text" class="form-control" id="full_name_typed" v-model="full_name_typed">
            </div>

            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <label for="date">Signature Date</label>
                <datetime type="date" name="contract_date" format="MM-dd-yyyy"
                    id="date" v-model="signature_date"
                    input-class="form-control col-md-7 col-xs-12" :auto="true" required>
                </datetime>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <button @click="save" class="btn btn-lg btn-block btn-success">Submit Agreement</button>
            </div>
        </div>
    </div>
</template>

<script>
    import VueSignaturePad from 'vue-signature-pad';

    export default {
        props: ['data'],

        components: {VueSignaturePad},

        data() {
            return {
                userType: this.data.userType,
                page: this.data.page,
                confirmed: false,
                pathname: window.location.pathname,
                user: window.App.user,
                contractId: '',
                full_name_typed: '',
                signature_date: '',
                errors: [],
            }
        },

        created() {
            this.contractId = this.pathname.split('/')[2];
        },

        methods: {
            undo() {
                this.$refs.signaturePad.undoSignature();
            },

            clear() {
                this.$refs.signaturePad.clearSignature();
            },

            save() {
                const {isEmpty, data} = this.$refs.signaturePad.saveSignature();
                let that = this;

                if (this.page != 'email' && !isEmpty && this.confirmed && this.full_name_typed && this.signature_date) {
                    axios.post('/contracts/sign/' + that.page, {
                        signature: data,
                        full_name_typed: this.full_name_typed,
                        signature_date: this.signature_date
                    }).then(function (response) {
                        if(that.userType == 'client') {
                            window.location = '/contracts/filled/employee'
                            console.log(response);
                        } else if(that.userType == 'employee') {
                            window.location = '/contracts/store'
                            console.log(response);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                } else if(this.page == 'email' && !isEmpty && this.confirmed && this.full_name_typed && this.signature_date) {
                    axios.put('/contracts/sign/' + that.page + '/' + that.userType, {
                        contractId: this.contractId,
                        signature: data,
                        full_name_typed: this.full_name_typed,
                        signature_date: this.signature_date
                    }).then(function (response) {
                        if(that.userType == 'client') {
                            window.location = response.data.redirect;

                            flash(response.data.message);
                            console.log(response);
                        } else if(that.userType == 'employee') {
                            window.location = response.data.redirect;

                            flash(response.data.message);
                            console.log(response);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.errors = [];

                    if (!this.confirmed) {
                        this.errors.push("Check 'I have read and understand'.");
                    }

                    if (!this.full_name_typed) {
                        this.errors.push('Enter your name.');
                    }

                    if (!this.signature_date) {
                        this.errors.push('Choose date.');
                    }

                    if (isEmpty) {
                        this.errors.push('Sign before submit the agreement.');
                    }
                }
            },
        }
    }
</script>

<style scoped>
    .signature {
        border: solid 3px;
    }
</style>
