<template>
    <div>
        <div v-if="show">
            <VueSignaturePad id="signature" class="signature" ref="signaturePad" width="320px" height="320px"></VueSignaturePad>
            <br>
            <button @click="clear" class="btn btn-danger"><i class="fas fa-times"></i> Clear</button>
            <button @click="undo" class="btn btn-warning"><i class="fas fa-undo"></i> Undo</button>
            <button @click="save" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
        </div>

        <div v-else>
            <img :src="user.signaturePath" class="signature" width="185px" height="185px">
            <br><br>
            <button @click="this.delete" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
        </div>

        <div class="signature-switch" v-show="user.hasSignature">
            <h3>Signature Switch</h3>
            <label>
                <input type="checkbox" name="auto_sign" class="js-switch" v-model="autoSign" @click="toggleAutoSignature" />
                <p>By enabling this feature, your signature will be applied to documents requiring a signature, when your account performs the steps to finalize the document. The document will be considered signed by you and will be dated the same day as the transaction is performed.</p>
            </label>
        </div>
    </div>
</template>

<script>
    import VueSignaturePad from 'vue-signature-pad';

    export default {
        props: ['initialUser'],

        components: { VueSignaturePad },

        data() {
            return {
                user: this.initialUser,
                show: false,
                path: window.location.pathname,
                autoSign: false,
            }
        },

        created() {
            if(!this.user.hasSignature) {
                this.show = true;
            } else {
                this.autoSign = this.user.signature.auto_sign;
            }
        },

        mounted() {
            if(!this.user.signaturePath) {
                this.setCanvasSize();
            }
        },

        methods: {
            undo() {
                this.$refs.signaturePad.undoSignature();
            },

            clear() {
                this.$refs.signaturePad.clearSignature();
            },

            toggleShow() {
                this.show = !this.show;
            },

            save() {
                const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
                let that = this;

                axios.post(window.location.pathname + '/signature', {
                    signature: data,
                }).then(response => {
                    that.setSignaturePath(response.data.path);
                    that.user.hasSignature = true;
                    that.user.signature = response.data;

                    flash('Your signature was saved!');

                    setTimeout(function() {
                        that.clear();
                        that.show = false;
                    }, 550);

                }).catch(function (error) {
                    console.log(error);
                });
            },

            delete() {
                let that = this;

                axios.delete(window.location.pathname + '/signature').then(response => {
                    flash(response.data.message);

                    setTimeout(function() {
                        that.show = true;
                        that.user.hasSignature = false;
                    }, 550);
                });

                this.autoSign = false;
                this.$forceUpdate();
            },

            toggleAutoSignature() {
                let autoSign = !this.autoSign;
                axios.patch(window.location.pathname + '/signature', { auto_sign: autoSign })
                    .then(response => {
                        flash('Auto signature option updated!');
                    }).catch(function (error) {
                        console.log(error);
                    });
            },

            setCanvasSize() {
                var el = document.getElementById('signature');

                el.childNodes[0].width = 320;
                el.childNodes[0].height = 320;
            },

            setSignaturePath(data) {
                this.user.signaturePath = '/storage/' + data + '?time=' + Date.now();
            },
        }

    }
</script>

<style>
    .signature {
        border: 1px solid black;
    }
</style>
