<template>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div id="edit-ticket-tank-types" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit ticket #{{ existingTicket.id }}</h4>
                        </div>
                        
                        <div class="modal-body clearfix">
                            <div v-if="existingTicket.status < 1">
                                <div v-for="(tank, index) in existingTanks" :key="index">
                                    <span class="btn btn-lg btn-primary btn-small" @click="decreaseQty(tank)"><i class="fas fa-minus"></i></span>
                                    <span class="btn btn-lg btn-success btn-big">{{ tank.name }} <small v-if="tank.price>0">(${{ tank.price }})</small></span>
                                    <span class="btn btn-lg btn-primary btn-small" @click="increaseQty(tank)"><i class="fas fa-plus"></i></span>
                                    <span class="btn btn-lg btn-info btn-small btn-last" style="font-size: bold;" v-text="tank.qty"></span>
                                </div>

                                <button class="btn btn-success btn-lg btn-block" v-if="existingTicket.status == 0" @click="finishTicket">Finish ticket</button>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" v-if="existingTicket.status >= 1">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Ticket details <small></small></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    
                                    <div class="x_content">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tank</th>
                                                    <th>Qty</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr v-for="(item, index) in existingTicket.items" :key="index">
                                                    <th scope="row">{{ index+1 }}</th>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.qty }}</td>
                                                    <td>${{ item.price_extended }}</td>
                                                </tr>

                                                <tr>
                                                    <th></th>
                                                    <td></td>
                                                    <td><h2>Total</h2></td>
                                                    <td><h2>${{ getItemsTotal() }}</h2></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <button class="btn btn-danger btn-lg btn-block" v-if="existingTicket.status == 2" @click="closeTicket">Close ticket</button>
                                <button class="btn btn-warning btn-lg btn-block" v-if="existingTicket.status == 1" @click="markAsPaid">Mark as paid</button>
                                <button class="btn btn-success btn-lg btn-block" v-if="existingTicket.status == 0" @click="finishTicket">Finish ticket</button>
                            </div>
                            
                            <div class="modal-footer">
                                <div class="activities" v-if="ticketActivities.length">
                                    <h2>Recent activity</h2>
                                    <ul class="list-unstyled timeline">
                                        <li v-for="(activity, index) in ticketActivities" :key="index">
                                            <div class="block">
                                                <div class="block_content">
                                                    <h2 class="title" v-if="activity.type == 'created_ticket'">Created ticket</h2>
                                                    <h2 class="title" v-else>Updated status from <strong>{{ activity.old_value }}</strong> to <strong>{{ activity.new_value }}</strong></h2>
                                                    <div class="byline">
                                                        <span>{{ activity.date }}</span> by {{ activity.user_name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-ticket-details" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ticket # {{ existingTicket.id }} details</h4>
                        </div>
                        <div class="modal-body">
                            <button class="btn btn-sm btn-success pull-right" @click="editTicket(existingTicket)"><i class="fas fa-pencil-alt no-print"></i> Edit</button>
                            <h2>Number of tanks: {{ this.totalExistingTanks }}</h2>
                                <ul>
                                    <li v-for="(tank, index) in this.existingTanks" :key="index" v-if="tank.counter"><strong>{{ tank.name }}</strong>: {{ tank.counter }}</li>
                                </ul>
                            <form class="form-horizontal" @submit.prevent="updateTicket">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="types">Customer type</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="btn-lg btn-default selectpicker col-md-7 col-xs-12" name="types" v-model="ticketCustomerType" required>
                                            <option disabled value="">Select customer type</option>
                                            <option class="form-control" v-for="(type, index) in ticketCustomerTypes" :key="index" :value="index">{{ type }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gallons">
                                        Billable gallons
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="number" step=".01" id="gallons" name="gallons" v-model="gallons" class="input-lg form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="modal-footer">
                            <div class="activities" v-if="ticketActivities.length">
                                <h2>Recent activity</h2>
                                <ul class="list-unstyled timeline">
                                    <li v-for="(activity, index) in ticketActivities" :key="index">
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title" v-if="activity.type == 'created_ticket'">Created ticket</h2>
                                                <h2 class="title" v-else>Updated status from <strong>{{ activity.old_value }}</strong> to <strong>{{ activity.new_value }}</strong></h2>
                                                <div class="byline">
                                                    <span>{{ activity.date }}</span> by {{ activity.user_name }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    
    export default {
        data() {
            return {
                moment: moment,
                name: '',
                ticketCustomerType: '',
                ticketCustomerTypes: {},
                gallons: '',
                totalExistingTanks: 0,
                existingTanks: {},
                existingTicket: '',
                ticketActivities: {},
            }
        },

        created() {
            this.getCustomerTypes();
            this.$eventHub.$on('edit-ticket', this.editTicket);
        },

        beforeDestroy() {
            this.$eventHub.$off('edit-ticket');
        },
        
        methods: {
            decreaseQty(tank) {
                if(tank.qty > 0) {
                    tank.qty--;
                    this.totalExistingTanks--;
                    
                    this.$forceUpdate();
                }
            },

            increaseQty(tank) {
                tank.qty++;
                this.totalExistingTanks++;

                this.$forceUpdate();
            },

            finishTicket() {
                if(this.totalExistingTanks > 0) {
                    $('#edit-ticket-tank-types').modal('hide');
                    $('#edit-ticket-details').modal('show');
                } else {
                    errors({
                        error: { message: 'Please add at least one tank!'}
                    });
                }
            },

            updateTicket() {
                if(!this.existingTicket) {
                    axios.post('/tickets', { 
                        tanks: this.existingTanks, 
                        name: this.name, 
                        customerType: this.ticketCustomerType, 
                        gallons: this.gallons
                    }).then(response => {
                        flash(response.data.message);
                        $('#edit-ticket-details').modal('hide');

                        this.name = '';
                        this.ticketCustomerType = '';
                        this.gallons = '';
                        this.totalExistingTanks = '';

                        window.location = response.data.redirect;
                    }).catch(error => {
                        errors(error.response.data.errors);
                    });                    
                } else {
                    if(this.ticketCustomerType.length > 1) {
                        this.addItems(this.existingTicket);
                    } else {
                        errors({
                            error: { message: 'Please select a customer type!'}
                        });
                    }
                }
            },
            
            addItems(existingTicket) {
                axios.patch('/tickets/' + existingTicket.id + '/add-items', {
                    tanks: this.existingTanks, 
                    name: this.name, 
                    customerType: this.ticketCustomerType, 
                    gallons: this.gallons
                }).then(response => {
                    flash(response.data.message);
                    $('#edit-ticket-details').modal('hide');

                    this.name = '';
                    this.ticketCustomerType = '';
                    this.gallons = '';
                    this.totalExistingTanks = '';

                    window.location = response.data.redirect;
                });
            },

            editTicket(existingTicket) {
                this.existingTicket = existingTicket;
                this.$forceUpdate();
                this.getTanks(existingTicket);
                this.getTicketActivity(existingTicket);
                
                if(!existingTicket.showTanks && existingTicket.status < 1) {
                    $('#edit-ticket-details').modal('show');
                    $('#edit-ticket-tank-types').modal('hide');
                    
                    existingTicket.showTanks = true;
                } else {
                    $('#edit-ticket-details').modal('hide');
                    $('#edit-ticket-tank-types').modal('show');
                }
            },

            getTanks(existingTicket) {
                axios.get('/tickets/tanks')
                    .then(response => {
                        this.existingTanks = response.data;
                        this.totalExistingTanks = 0;
                        
                        for (let i = 0; i < this.existingTanks.length; i++) {
                            for (let j = 0; j < existingTicket.items.length; j++) {
                                if(this.existingTanks[i].name == existingTicket.items[j].name) {
                                    this.existingTanks[i].qty = Math.round(existingTicket.items[j].qty);
                                    this.totalExistingTanks += this.existingTanks[i].qty;
                                    break;
                                } else {
                                    this.existingTanks[i].qty = 0;
                                }
                            }   
                        }

                        this.$forceUpdate();
                    });
            },

            markAsPaid() {
                axios.patch('/tickets/' + this.existingTicket.id + '/change-status', { status: 2 })
                    .then(response => {
                        $('#edit-ticket-tank-types').modal('hide');
                        flash(response.data.message);
                        
                        this.existingTicket = response.data.ticket;
                        this.$eventHub.$emit('ticket-status-changed', this.existingTicket);
                        
                        this.$forceUpdate();
                        window.location = response.data.redirect;
                    });
            },

            closeTicket() {
                axios.patch('/tickets/' + this.existingTicket.id + '/change-status', { status: 3 })
                    .then(response => {
                        $('#edit-ticket-tank-types').modal('hide');
                        flash(response.data.message);
                        
                        this.existingTicket = response.data.ticket;
                        this.$eventHub.$emit('ticket-status-changed', this.existingTicket);
                        
                        this.$forceUpdate();
                        window.location = response.data.redirect;
                    });
            }, 

            getItemsTotal() {
                let total = 0;
                
                this.existingTicket.items.forEach(item => {
                    total = parseFloat(total) + parseFloat(item.price_extended);
                });

                return total.toFixed(2);
            },

            getCustomerTypes() {
                axios.get('/tickets/get-customer-types').then(response => {
                    this.ticketCustomerTypes = response.data;
                });
            },
            
            getTicketActivity(ticket) {
                axios.get('/tickets/' + ticket.id + '/get-ticket-activity')
                    .then(response => {
                        this.ticketActivities = response.data;
                    });
            },
        }
    }
</script>

<style>
    .modal-body .btn {
        display: block;
        float: left;
    }

    .modal-body .btn-small {
        padding: 10px 1px;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        margin-left: 0;
        display: inline-block;
    }

    .btn-last {
        margin-right: 0 !important;
    }

    .modal-body .btn-big {
        padding: 10px 1px;
        height: 45px;
        width: calc(100% - 153px);
        display: inline-block;
    }

    @media (max-width: 330px) {
        .btn-group-lg > .btn, .btn-lg {
            font-size: 16px;
        }
    }

    .modal-footer {
        text-align: left !important;
    }

    .timeline .block {
        margin: 0;
    }

    select[name=types] {
        border: 1px solid #cccccc;
    }
</style>

