<template>
    <div class="ticket-div">
        <confirmation-modal
            @confirmed="confirmed"
            model="ticket"
            message="Are you sure you want to delete this ticket?">
        </confirmation-modal>

        <div class="ticket-box clearfix" v-for="(ticket, index) in tickets" :key="index">
            <div class="ticket-left">
                <div class="label" :class="ticketLabel(ticket)">
                    <select name="status" v-model="ticket.status" @change="updateStatus(ticket)">
                        <option value="0">Open</option>
                        <option value="1">Submitted</option>
                        <option value="2">Cleared</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>

            <div class="ticket-right ticket-big">
                {{ ticket.name }}
            </div>

            <div class="clearfix"></div>

            <div class="ticket-left ticket-big">
                <a @click="setTicket(ticket)" class="btn btn-default btn-block btn-sm"><i class="fas fa-arrow-up"></i></a>
            </div>

            <div class="ticket-right ticket-big">
                {{ ticket.id }}
            </div>

            <div class="clearfix"></div>

            <div class="ticket-left">
                <a data-toggle="modal" data-target="#ticket" @click="pendingDelete(ticket, index)" class="btn btn-default btn-block btn-sm">Delete</a>
            </div>

            <div class="ticket-right">
                Created: {{ moment(ticket.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A') }}
            </div>
        </div>

        <ticket-form></ticket-form>
        <ticket-edit-form></ticket-edit-form>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';
    import TicketForm from './TicketForm.vue';
    import TicketEditForm from './TicketEditForm.vue';

    export default {
        props: ['initialTickets'],

        components: { ConfirmationModal, TicketForm, TicketEditForm },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                tickets: this.initialTickets,
                ticket: '',
                index: '',
            }
        },

        created() {
            this.$eventHub.$on('ticket-status-changed', this.updateStatus);
        },

        beforeDestroy() {
            this.$eventHub.$off('ticket-status-changed');
        },

        methods: {
            destroy(ticket, index) {
                if(this.isConfirmed) {
                    axios.delete(ticket.path, ticket.id)
                        .then(response => {
                            this.tickets.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.ticket, this.index);
            },

            pendingDelete(ticket, index) {
                this.ticket = ticket;
                this.index = index;

                this.$forceUpdate();
            },

            setTicket(ticket) {
                ticket.showTanks = false;
                this.$eventHub.$emit('edit-ticket', ticket);
            },

            updateStatus(ticket) {
                this.tickets.forEach(function(t) {
                    if(t.id == ticket.id) {
                        t.status = ticket.status;
                    }
                });

                this.$forceUpdate();
            },

            updateStatus(ticket) {
                this.ticket = ticket;

                axios.patch('/tickets/' + ticket.id + '/change-status', { status: ticket.status })
                    .then(response => {
                        flash(response.data.message);
                    }).catch(error => {
                        errors(error.response.data.errors);
                    });
            },

            ticketLabel(ticket) {
                return {
                    'label-primary': ticket.status == 0,
                    'label-warning': ticket.status == 1,
                    'label-success': ticket.status == 2,
                    'label-danger': ticket.status == 3,
                }
            }
        }
    }
</script>

<style>
    .ticket-div {
        margin-top: 20px;
        border-bottom: 1px solid #aaa;
    }

    .ticket-box {
        border-bottom: 1px solid #aaa;
        padding: 4px 5px 0px;
    }

    .ticket-left {
        float: left;
        width: 60px;
        margin-right: 10px;
    }

    .ticket-left div, .ticket-right {
        line-height: 1.5;
        padding: 5px 0;
    }

    .ticket-big {
        font-size: 18px;
    }

    .ticket-big .btn {
        font-size: 16px;
    }

    select {
        background-color: transparent /* This hides the background */; 
        background-image: none; 
        -webkit-appearance: none /* Webkit Fix */; 
        border:none; 
        box-shadow:none; 
        text-align: center;
        text-align-last: center;
    }

    option {
        text-align: left;
    }
</style>

