<template>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div id="create-new-ticket" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Add new ticket</h4>
                        </div>

                        <div class="modal-body clearfix">
                            <form id="contact-form" class="form-horizontal form-label-left" method="POST" @submit="checkForm">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        <input type="text" name="name" v-model="name" class="input-lg form-control col-md-6 col-xs-12" placeholder="Customer name" required autocomplete="off">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        <button type="submit" class="btn btn-lg btn-block btn-success"><strong>BEGIN TICKET</strong></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ticket-tank-types" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tank types</h4>
                        </div>
                        
                        <div class="modal-body clearfix">
                            <div v-for="(tank, index) in tanks" :key="index">
                                <span class="btn btn-lg btn-primary btn-small" @click="decreaseQty(tank)"><i class="fas fa-minus"></i></span>
                                <span class="btn btn-lg btn-success btn-big">{{ tank.name }} <small v-if="tank.price>0">(${{ tank.price }})</small></span>
                                <span class="btn btn-lg btn-primary btn-small" @click="increaseQty(tank)"><i class="fas fa-plus"></i></span>
                                <span class="btn btn-lg btn-info btn-small btn-last" style="font-size: bold;" v-text="tank.qty"></span>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" @click="saveTicket" v-if="!ticket">Save ticket</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ticket-details" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ticket details</h4>
                        </div>
                        <div class="modal-body">
                            <button class="btn btn-sm btn-success pull-right" @click="editTicket"><i class="fas fa-pencil-alt no-print"></i> Edit</button>
                            <h2>Number of tanks: {{ this.totalTanks }}</h2>
                                <ul>
                                    <li v-for="(tank, index) in this.tanks" :key="index" v-if="tank.counter"><strong>{{ tank.name }}</strong>: {{ tank.counter }}</li>
                                </ul>
                            <form class="form-horizontal" @submit.prevent="addTicket">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="types">Customer type</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="btn-lg btn-default selectpicker col-md-7 col-xs-12" name="types" v-model="ticketCustomerType" required>
                                            <option disabled value="">Select customer type</option>
                                            <option class="form-control" v-for="(type, index) in ticketCustomerTypes" :key="index" :value="index">{{ type }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gallons">
                                        Billable gallons
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="number" id="gallons" name="gallons" v-model="gallons" class="input-lg form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                customerType: '',
                customerTypes: {},
                gallons: '',
                totalTanks: 0,
                tanks: {},
                ticket: '',
            }
        },

        created() {
            this.getTanks();
            this.getCustomerTypes();
        },

        methods: {
            checkForm: function(e) {
                e.preventDefault();

                if (this.name) {
                    $('#ticket-tank-types').modal('show');
                } else {
                    errors({
                        error: { message: 'Please enter a customer name!'}
                    });
                }
            },

            decreaseQty(tank) {
                if(tank.qty > 0) {
                    tank.qty--;
                    this.totalTanks--;
                    
                    this.$forceUpdate();
                }
            },

            increaseQty(tank) {
                tank.qty++;
                this.totalTanks++;

                this.$forceUpdate();
            },
            
            saveTicket() {
                if(this.totalTanks > 0) {
                    this.addTicket();
                } else {
                    errors({
                        error: { message: 'Please add at least one tank!'}
                    });
                }
            },

            finishTicket() {
                if(this.totalTanks > 0) {
                    $('#ticket-tank-types').modal('hide');
                    $('#ticket-details').modal('show');
                } else {
                    errors({
                        error: { message: 'Please add at least one tank!'}
                    });
                }
            },

            addTicket() {
                if(!this.ticket) {
                    axios.post('/tickets', { 
                        tanks: this.tanks, 
                        name: this.name, 
                        customerType: this.customerType, 
                        gallons: this.gallons
                    }).then(response => {
                        this.name = '';
                        this.customerType = '';
                        this.gallons = '';
                        this.totalTanks = '';

                        flash(response.data.message);
                        window.location = response.data.redirect;
                    }).catch(error => {
                        errors(error.response.data.errors);
                    });                    
                } else {
                    if(this.customerType.length > 1) {
                        this.addItems(this.ticket);
                    } else {
                        errors({
                            error: { message: 'Please select a customer type!'}
                        });
                    }
                }
            },
            
            addItems(ticket) {
                axios.patch('/tickets/' + ticket.id + '/add-items', {
                    tanks: this.tanks, 
                    name: this.name, 
                    customerType: this.customerType, 
                    gallons: this.gallons
                }).then(response => {
                    $('#ticket-details').modal('hide');
                    flash(response.data.redirect);

                    this.name = '';
                    this.customerType = '';
                    this.gallons = '';
                    this.totalTanks = '';

                    window.location = response.data.redirect;
                });
            },

            editTicket() {
                $('#ticket-details').modal('hide');
                $('#ticket-tank-types').modal('show');
            },

            getTanks() {
                axios.get('/tickets/tanks')
                    .then(response => {
                        this.tanks = response.data;
                        
                        this.tanks.forEach(function(tank) {
                            tank.qty = 0;
                        });
                    });
            },

            getCustomerTypes() {
                axios.get('/tickets/get-customer-types').then(response => {
                    this.customerTypes = response.data;
                });
            }
        }
    }
</script>

<style>
    .modal-body .btn {
        display: block;
        float: left;
    }

    .modal-body .btn-small {
        padding: 10px 1px;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        margin-left: 0;
        display: inline-block;
    }

    .btn-last {
        margin-right: 0 !important;
    }

    .modal-body .btn-big {
        padding: 10px 1px;
        height: 45px;
        width: calc(100% - 153px);
        display: inline-block;
    }

    @media (max-width: 330px) {
        .btn-group-lg > .btn, .btn-lg {
            font-size: 16px;
        }
    }

    select[name=types] {
        border: 1px solid #cccccc;
    }
</style>

