<template>
    <div id="updateAddress" class="modal fade" role="dialog">
    	<div class="modal-dialog">
    		<!-- Modal content-->
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal">&times;</button>
    				<h4 class="modal-title">FORM</h4>
    			</div>

    			<div class="modal-body">
    				<p><strong>ADDRESS</strong></p>
    				<div class="col-md-10 col-sm-10 col-md-offset-1">
    					<!-- Nav tabs -->
    					<ul class="nav nav-tabs mb-1" role="tablist">
    						<li role="presentation" class="active">
    							<a href="#addContact" aria-controls="addContact" role="tab" data-toggle="tab">Add from contacts</a>
    						</li>
    						<li role="presentation">
    							<a href="#createContact" aria-controls="createContact" role="tab" data-toggle="tab">Create new contact</a>
    						</li>
    					</ul>

    					<!-- Tab panes -->
    					<div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="addContact">
                                <form id="add-contact" class="form-horizontal" @submit="checkAddressForm" method="POST">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <autocomplete-contact @added="setContactId" id="contact_id"></autocomplete-contact>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            <small>Street Address</small>
                                            <input type="text" id="street_address" name="street_address" v-model="address.street_address" required="required" placeholder="Street Address" autocomplete="off" class="form-control col-md-7 col-xs-12">
                                        </div>

                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <small>Suite #</small>
                                            <input type="text" id="suite_no" name="suite_no" v-model="address.suite_no" placeholder="Suite #" autocomplete="off" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <small>City</small>
                                            <input type="text" id="city" name="city" v-model="address.city" required="required" placeholder="City" autocomplete="off" class="form-control">
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <small>State</small>
                                            <input type="text" id="state" name="state" v-model="address.state" required="required" placeholder="State" autocomplete="off" class="form-control">
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <small>Zip</small>
                                            <input type="text" id="zip" name="zip" v-model="address.zip" required="required" placeholder="Zip" autocomplete="off" class="form-control">
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" id="addNewAddress" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="createContact">
                                <form id="create-contact" data-parsley-validate class="form-horizontal form-label-left" method="POST" @submit="checkContactForm">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="first_name" name="first_name" v-model="contact.first_name" required="required" placeholder="First Name" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="last_name" name="last_name" v-model="contact.last_name" required="required" placeholder="Last Name" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="email" name="email" v-model="contact.email" placeholder="E-mail Address" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="phone" name="phone" v-model="contact.phone" placeholder="Phone number" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="company" name="company" v-model="contact.company" placeholder="Company" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <textarea id="notes" name="notes" v-model="contact.notes" placeholder="Notes" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button class="btn btn-primary" type="reset">Reset</button>
                                            <button type="submit" class="btn btn-success">Create new contact</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
    					</div>
    				</div>
    			</div>

    			<div class="modal-footer">

    			</div>
    		</div>
    	</div>
    </div>
</template>

<script>
    export default {
        props: ['initialAddress'],

        data() {
            return {
                address: this.initialAddress,
                contact: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    company: '',
                    notes: '',
                },
            }
        },

        mounted() {
            this.$eventHub.$emit('updating-address', this.address);
        },

        created() {
            this.$eventHub.$on('contact-created', this.setContactId);
            this.$eventHub.$on('address-not-found', this.setStreetAddress);
        },

        beforeDestroy() {
            this.$eventHub.$off('contact-created');
            this.$eventHub.$off('address-not-found');
        },

        methods: {
            checkAddressForm: function(e) {
                e.preventDefault();

                if (this.address.street_address && this.address.city && this.address.state && this.address.zip && this.address.contact_id) {
                    this.updateAddress();
                }
            },

            updateAddress() {
                axios.patch('/addresses/' + this.address.id, this.address)
                    .then(response => {
                        flash('The address was updated!');

                        window.location = response.data.path;

                        $('#updateAddress').modal('hide');
                    }).catch(error => {
                        errors(error.response.data.errors);
                    });
            },

            checkContactForm: function(e) {
                e.preventDefault();

                if (this.contact.first_name && this.contact.last_name) {
                    this.createContact();
                }
            },

            createContact() {
                axios.post('/contacts', this.contact).then(response => {

                    this.$eventHub.$emit('contact-created', response.data);
                    flash('A new contact has been created!');

                    $('.nav-tabs a[href="#addContact"]').tab('show');
                });
            },

            setContactId(id) {
                this.address.contact_id = id;
            },

            setStreetAddress(query) {
                this.address.street_address = query;
            }
        }
    }
</script>

<style>
    .modal-footer {
        border-top: 0px;
    }
</style>
