<template>
    <div>
        <confirmation-modal
            @confirmed="confirmed"
            model="user"
            message="Are you sure you want to delete this user?">
        </confirmation-modal>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-no-more" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>First Name</th>
                    <th>E-mail Address</th>
                    <th>Roles</th>
                    <th>Created Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(user, index) in users">
                    <td data-title="Action">
                        <a :href="user.path"><i class="far fa-eye" data-toggle="tooltip" data-placement="bottom" title="View user"></i></a>
                        <a v-can="'update_users'" :href="user.path + '/edit'"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit user"></i></a>
                        <a v-show="!user.isSuperAdmin" v-can="'delete_users'" data-toggle="modal" data-target="#user" @click="pendingDelete(user, index)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete user"></i></a>
                    </td>
                    <td v-text="user.name"></td>
                    <td><a :href="'mailto:' + user.email">{{ user.email }}</a></td>
                    <td>
                        <ul>
                            <li v-for="(role, index) in user.roles">{{ role.name }}</li>
                        </ul>
                    </td>
                    <td v-text="moment(user.created_at, 'YYYY-MM-DD HH:mm:ss').format('MM-DD-YYYY h:mm A')"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import ConfirmationModal from './ConfirmationModal.vue';

    export default {
        props: ['initialUsers'],

        components: { ConfirmationModal },

        data() {
            return {
                moment: moment,
                isConfirmed: false,
                users: this.initialUsers,
                user: '',
                index: '',
            }
        },

        methods: {
            destroy(user, index) {
                if(this.isConfirmed) {
                    axios.delete(user.path, user.id)
                        .then(response => {
                            this.users.splice(index, 1);

                            this.$forceUpdate();

                            flash(response.data.message);
                        });
                }

                this.isConfirmed = false;
            },

            confirmed() {
                this.isConfirmed = true;

                this.destroy(this.user, this.index);
            },

            pendingDelete(user, index) {
                this.user = user;
                this.index = index;

                this.$forceUpdate();
            }
        }
    }
</script>
