<template>
    <div id="widget-modal" class="modal fade" role="dialog">
    	<div class="modal-dialog">

    		<!-- Modal content-->
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal">&times;</button>
    				<h4 class="modal-title">FORM</h4>
    			</div>

    			<div class="modal-body">
    				<p><strong>ADDRESS</strong></p>
    				<div class="col-md-10 col-sm-10 col-md-offset-1">
    					<!-- Nav tabs -->
    					<ul class="nav nav-tabs mb-1" role="tablist">
    						<li role="presentation" class="active">
    							<a href="#addContact" aria-controls="addContact" role="tab" data-toggle="tab">Add from contacts</a>
    						</li>
    						<li role="presentation">
    							<a href="#createContact" aria-controls="createContact" role="tab" data-toggle="tab">Create new contact</a>
    						</li>
    					</ul>

    					<!-- Tab panes -->
    					<div class="tab-content">
    						<add-from-contacts-tab></add-from-contacts-tab>

    						<create-new-contact-tab></create-new-contact-tab>
    					</div>
    				</div>
    			</div>

    			<div class="modal-footer">

    			</div>
    		</div>
    	</div>
    </div>
</template>

<script>
    import AddFromContactsTab from './AddFromContactsTab.vue';
    import CreateNewContactTab from './CreateNewContactTab.vue';

    export default {
        props: ['initialContact'],

        components: { AddFromContactsTab, CreateNewContactTab },

        mounted() {
            if(this.initialContact) {
                this.$eventHub.$emit('contact-created', this.initialContact);
            }
        },

    }
</script>

<style>
    .modal-footer {
        border-top: 0px;
    }
</style>
