
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.mb-1 {
    margin-bottom: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.text-lighter {
    font-weight: 200 !important;
}

.alert {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 99;
}

.due-today {
    background-color: #cdffdd !important;
}

.expired {
    background-color: #ffe7ee !important;
}
